button, a.btn {
  font-family: NexaLight;
}
li a svg.svg {
  fill: #ddd;
}
.pagination {
  margin:0;
}
.courier {
  font-family: 'BitstreamMono', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-size:0.75em;

}
div::-webkit-scrollbar {
    width: 12px;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #002147;
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    width:8px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px white;
    background-color:  #002147;
}

.highlighted {
background-color: #FFFF00;
}
.noindent {
 padding-left: 1.2em; 
 margin-bottom:0;
}
.relative {
  position:relative;
}
.rightglyph {
    position: absolute; 
    right: 20px; 
    top:5px;
}
.suwala-doubleScroll-scroll-wrapper {
   width: inherit !important;
}
.input-in-dropdown{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;

}
.table-responsive .dropdown-menu,
  .table-responsive .dropdown-toggle {
        position: static !important;
  }

/*.htCore thead th {
  overflow:hidden;
  height:0;
}
.htCore thead  th div {
  overflow:hidden;
  height:0;
  margin-top:-10px;
  margin-bottom:-10px;

}*/
/* handsontable - htNumeric right align overrides htCenter center alignment */
td.htCenter.htNumeric {
  text-align: center;
}
.ui-select-container input {
  width: 100% !important;
}
.wtHolder {
  margin-bottom:100px;
}
#loading-overlay { z-index: 2000; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #000; opacity: 0.7; min-height:5000px;}
#loading-message { z-index: 2000; position: absolute; width: 400px; height: 100px; line-height: 100px; background-color: #fff; text-align: center; font-size: 1.2em; left: 50%; top: 200px; margin-left: -200px; margin-top: -100px; }


.input-small { max-width: 200px; } 
.handsontable th:first-child,  {
height: auto !important;
}

.wtHolder {
  overflow-x: visible !important;
}
.lightgrey {
  color: lightgrey;
}
.handsontable .htAutocompleteArrow {
  float: right;
  font-size: 14px;
  color: black;
  cursor: default;
  width: 20px;
  text-align: center;
}
/* Edit mode css */
td .row {
    margin: 0;
}
.modal {
  text-align: center;
}
.editing .modal-content {
    min-height: 500px;
}
.editing .modal-dialog {
    overflow-y: auto;
}


@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.suwala-doubleScroll-scroll-wrapper {
  width:inherit !important;
}
.gifffer-play-button div {
  border-left-color: white !important;
}
.giffer-holder div {
  margin:0 auto;
}
/*::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-track {
      background: none;
    }

    ::-webkit-scrollbar-thumb {
      background: -webkit-linear-gradient(left, #547c90, #002640);
      border: 1px solid #333333;
      box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
    }*/
.spacer {
  margin-top: 2px;
  margin-bottom: 2px;
}
.form-group {
  margin-bottom: 10px;
}
ul.pagination li a {
  padding: 6px 15px;
}
li a.active svg.svg {
  fill: #002147;
}

li a.active small {
  color: #002147;
}
#chemdoodle_button_open {
  display: none;
}
#chemdoodle_button_save {
  display: none;
}
html {overflow-y: scroll;}
.ui-button {

  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  margin: 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear background-image;
  -moz-transition: 0.1s linear background-image;
  -ms-transition: 0.1s linear background-image;
  -o-transition: 0.1s linear background-image;
  transition: 0.1s linear background-image;
   overflow: visible;
} /* the overflow property removes extra width in IE */

.ui-button-primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


.ui-button-success{
  color:#ffffff;
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-button-error{
  color:#ffffff;
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; }
button.ui-button-icons-only { width: 3.7em; }

/*button text element */

.ui-button .ui-button-text { display: block;   }
.ui-button-text-only .ui-button-text {  }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; /*tempfix*/ display:none;}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
/* input.ui-button { padding: .4em 1em; } */

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { top: 50%; margin-top:-3px; margin-bottom:3px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/


.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-state-active {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.4em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */




.ui-button {
  padding: 2px 5px 3px !important;
}


.popover {
  color: black !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
li a small {
  color: #ddd;
}
div.reg-nav ul.nav li h2 {
  margin-bottom: 0;
}

.form-views { width:auto; }

.progress-bar {
  background-color:#002147;
}
strong.nexa, p.nexa strong {
  font-family:NexaBold;
}
.col-centered{
    float: none;
    margin: 0 auto;
    
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 300px
}
.chemprop {
  background-color:#eee;
  color: #002147;
  padding:5px;
  margin-bottom:10px;
  border-radius:5px;
}
.chemprop div {
  background-color: #2e6da4;
  color:white;
  border-radius: 5px;
}
.projectbox {
  background-color: lightcyan;
  color: #002147;
}
.projectbox.nonchem {
 background-color: mistyrose;
 color: #002147; 
}

.mt-8 {
   margin-top:8px;
}

.dimension{
  cursor:pointer; 
  padding:5px;
  margin:0px;
}

.dimensions-container {
  min-height:40px;
}

.dimensions-list {
  min-height:300px;
}

.dimensions-list li {
  margin:10px !important;
}

.well {
  padding:5px;
}

.well .alert-success {
    margin-bottom: 0;
}

.bin {
  min-height: 200px;
}

.bin .alert-success {
    margin-bottom: 10px;
}

.myGrid {
    width: 100%;
    height: 600px;
    font-family: NexaLight;
  }

.ngHeaderSortColumn {
  text-align: center;
}

.ngFooterPanel {
  background-color: #002147;
  padding: 0;
  border-top: 1px solid #d4d4d4;
  position: relative;
  color: white;
}
.ngPagerContainer select, .ngPagerCurrent {
  color: #002147;
}
.ngPagerButton {
  border-radius: 4px;
}

.ngTotalSelectContainer {
  float: left;
  margin: 2px;
}

.ngPagerButton {
  border-radius: 4px;
  color: white;
  background-color: #002147;
  border: 1px solid white;
}
.ngPagerFirstTriangle {
  border-color: transparent #fff transparent transparent;
}
.ngPagerFirstBar {
  border-left: 2px solid #fff;
}
.ngPagerLastTriangle {
  border-color: transparent transparent transparent #fff
}
.ngPagerLastBar {
  border-left: 2px solid #fff;
}
.innerdrop li > a:hover, .innerdrop  > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.id-overlay {
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.7);
  width: 100%;
  padding: 4px;
  font-weight: bold;
  color:white;
}
.wide-dropdown {
    width: 300px !important;
}
i {
  margin: 0;
}
/* Calendar stuff */
ul.dropdown-menu.ng-valid-date {
  width:270px;
}

/* live update validation box stuff */
.validate-report-box {
  
  

}
.alert-success {
  margin:0;
}
.validate-report-box  {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom:15px;
  margin-left:15px;
}

.validate-report-box .report-value {
  
  min-height:40px;
}
.report-type  {
font-size:1vw;
}
.report-value {
  margin-top:-10px;
  font-size: 6em;
  font-size:2.2vw;
}
td, th {
  font-size:14px;
}
.gallery-item {
  cursor: pointer;
/*  padding-top:15px;
*/}
.gallery-item:hover {
  background-color: #eee;
  border-radius: 5px;
}
.picker__header {
  font-size:0.8em;
}
.picker__header select {
  padding: 0 0 0 .5em;
}
@media (min-width: 990px) {
  p.nexa.vw {
    font-size:1.3vw;
  }
}
/* Small changes to make the app look less gigantic on smaller screens */
@media (max-width: 991px) {
  p.nexa, p, strong.nexa, .help-block, .form-group, .form-control {
    font-size:0.85em;
    line-height: 20px;
    padding:0 5px;
  }
  td, th {
    font-size:12px;
  }
  ul.pagination {
    font-size:12px;
  }
  #quicklinks small a{
    font-size:0.9em;
  }
  .report-value  {
    font-size: 3em;
    padding-top: 20px;
  }
  .alert {
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px;
  }
  .input-group a {
    font-size: 10px;
    padding: 4px 10px;
  }
  .ui-button {
    padding: 0 2px 1px !important;
  }
}

span.date-number {
  font-size: 3.5vw;
  line-height: 1em;
  color: #fff;
  font-family: NexaBold;
}
.img-circle {
  width:100%;
  height:100%;
}
.img-circle.blue-bg.symp-stat {
  height: 50px;
  width: 50px;
}
.symp-stat {
  padding-top: 10px;
  text-align: center;
}
.symp-stat h2 {
  font-size: 1.7vw;
  text-align: center;
  padding-left: 5px;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  margin-bottom:20px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.animate-show.ng-hide {
  line-height: 20px;
  opacity: 0;
}

.data-summary-holder {
  border: 2px solid #ddd; 
  padding-top:20px;
  border-radius: 8px;
}

.img-circle.blue-bg {
  height: 8vw;
  width: 8vw;
  margin: 0 auto 10px;
  transition: 0.2s ease-in-out;
}

div.column-header-form ul.ui-select-choices {
  position:absolute;
  top: 32px !important;
}

/* AssayReg nested div colours - using university colour palette */

.l1 {
  border: 1px solid rgb(0,119,112);
}
.l1 strong {
  color:rgb(0,119,112);
}
.l2 {
  border: 1px dashed rgb(135,36,52);
}
.l2 strong {
  color:rgb(135,36,52);
}
.l3 {
  background-color:rgb(224,222,217);
}
.l3 table {
  background-color:#fff;
  text-align: center;
}
.l3 table th {
  color:#002147;
  background-color:rgb(158, 206, 235);
  text-align: center;
}
#h2loading {
  text-align: center;
}
div.modal-body {
  font-size: 0.8em;
  word-wrap: break-word;
}
div.modal-header, div.modal-footer {
  background-color:rgb(188,210,195);
}
div.modal-body table td, div.modal-body table th{
  font-size: 1em;
}

.proj-list-header {
    background-color: #002148;
    color:white;
    padding: 10px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
.grey-to-white {
  background: -webkit-linear-gradient(#eee, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#eee, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#eee, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#eee, #fff); /* Standard syntax */
}
.grey-to-white.nonchem {
  background: -webkit-linear-gradient(mistyrose, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(mistyrose, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(mistyrose, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(mistyrose, #fff); /* Standard syntax */
}
.no-padding {
  padding:0;
}


/* 16-column bootstrap grid classes */
/*!
 * Bootstrap v3.3.4 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=cbf2107cd9232e34b495)
 * Config saved to config.json and https://gist.github.com/cbf2107cd9232e34b495
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
.col16-lg-1, .col16-lg-2, .col16-lg-3, .col16-lg-4, .col16-lg-5, .col16-lg-6, .col16-lg-7, .col16-lg-8, .col16-lg-9, .col16-lg-10, .col16-lg-11, .col16-lg-12, .col16-lg-13, .col16-lg-14, .col16-lg-15, .col16-lg-16 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 1200px) {
  .col16-lg-1, .col16-lg-2, .col16-lg-3, .col16-lg-4, .col16-lg-5, .col16-lg-6, .col16-lg-7, .col16-lg-8, .col16-lg-9, .col16-lg-10, .col16-lg-11, .col16-lg-12, .col16-lg-13, .col16-lg-14, .col16-lg-15, .col16-lg-16 {
    float: left;
  }
  .col16-lg-16 {
    width: 100%;
  }
  .col16-lg-15 {
    width: 93.75%;
  }
  .col16-lg-14 {
    width: 87.5%;
  }
  .col16-lg-13 {
    width: 81.25%;
  }
  .col16-lg-12 {
    width: 75%;
  }
  .col16-lg-11 {
    width: 68.75%;
  }
  .col16-lg-10 {
    width: 62.5%;
  }
  .col16-lg-9 {
    width: 56.25%;
  }
  .col16-lg-8 {
    width: 50%;
  }
  .col16-lg-7 {
    width: 43.75%;
  }
  .col16-lg-6 {
    width: 37.5%;
  }
  .col16-lg-5 {
    width: 31.25%;
  }
  .col16-lg-4 {
    width: 25%;
  }
  .col16-lg-3 {
    width: 18.75%;
  }
  .col16-lg-2 {
    width: 12.5%;
  }
  .col16-lg-1 {
    width: 6.25%;
  }
  .col16-lg-pull-16 {
    right: 100%;
  }
  .col16-lg-pull-15 {
    right: 93.75%;
  }
  .col16-lg-pull-14 {
    right: 87.5%;
  }
  .col16-lg-pull-13 {
    right: 81.25%;
  }
  .col16-lg-pull-12 {
    right: 75%;
  }
  .col16-lg-pull-11 {
    right: 68.75%;
  }
  .col16-lg-pull-10 {
    right: 62.5%;
  }
  .col16-lg-pull-9 {
    right: 56.25%;
  }
  .col16-lg-pull-8 {
    right: 50%;
  }
  .col16-lg-pull-7 {
    right: 43.75%;
  }
  .col16-lg-pull-6 {
    right: 37.5%;
  }
  .col16-lg-pull-5 {
    right: 31.25%;
  }
  .col16-lg-pull-4 {
    right: 25%;
  }
  .col16-lg-pull-3 {
    right: 18.75%;
  }
  .col16-lg-pull-2 {
    right: 12.5%;
  }
  .col16-lg-pull-1 {
    right: 6.25%;
  }
  .col16-lg-pull-0 {
    right: auto;
  }
  .col16-lg-push-16 {
    left: 100%;
  }
  .col16-lg-push-15 {
    left: 93.75%;
  }
  .col16-lg-push-14 {
    left: 87.5%;
  }
  .col16-lg-push-13 {
    left: 81.25%;
  }
  .col16-lg-push-12 {
    left: 75%;
  }
  .col16-lg-push-11 {
    left: 68.75%;
  }
  .col16-lg-push-10 {
    left: 62.5%;
  }
  .col16-lg-push-9 {
    left: 56.25%;
  }
  .col16-lg-push-8 {
    left: 50%;
  }
  .col16-lg-push-7 {
    left: 43.75%;
  }
  .col16-lg-push-6 {
    left: 37.5%;
  }
  .col16-lg-push-5 {
    left: 31.25%;
  }
  .col16-lg-push-4 {
    left: 25%;
  }
  .col16-lg-push-3 {
    left: 18.75%;
  }
  .col16-lg-push-2 {
    left: 12.5%;
  }
  .col16-lg-push-1 {
    left: 6.25%;
  }
  .col16-lg-push-0 {
    left: auto;
  }
  .col16-lg-offset-16 {
    margin-left: 100%;
  }
  .col16-lg-offset-15 {
    margin-left: 93.75%;
  }
  .col16-lg-offset-14 {
    margin-left: 87.5%;
  }
  .col16-lg-offset-13 {
    margin-left: 81.25%;
  }
  .col16-lg-offset-12 {
    margin-left: 75%;
  }
  .col16-lg-offset-11 {
    margin-left: 68.75%;
  }
  .col16-lg-offset-10 {
    margin-left: 62.5%;
  }
  .col16-lg-offset-9 {
    margin-left: 56.25%;
  }
  .col16-lg-offset-8 {
    margin-left: 50%;
  }
  .col16-lg-offset-7 {
    margin-left: 43.75%;
  }
  .col16-lg-offset-6 {
    margin-left: 37.5%;
  }
  .col16-lg-offset-5 {
    margin-left: 31.25%;
  }
  .col16-lg-offset-4 {
    margin-left: 25%;
  }
  .col16-lg-offset-3 {
    margin-left: 18.75%;
  }
  .col16-lg-offset-2 {
    margin-left: 12.5%;
  }
  .col16-lg-offset-1 {
    margin-left: 6.25%;
  }
  .col16-lg-offset-0 {
    margin-left: 0%;
  }
}