
            <div style="width:{{width}}px;">
                <div class="well"  style="width:{{(col.myColWidth -12)}}px; display:inline-block; margin-bottom:0px; border-radius:0; min-height:104px" ng-repeat="col in columns"> 
                        <div class="row" >
                            <div class="col-xs-12">
                            <label class="pull-left">{{col.knownBy}}

                            </label>
                            


                        </div>
                        <small><span style="margin-right:20px" ng-show="(!angular.isDefined(col.mappingOptions))" class="">&nbsp;</span></small>
                        <small><span style="margin-right:20px" ng-show="(col.mappingOptions.length > 0 &amp;&amp; !col.copyTo)" class="pull-right alert-danger">Unmapped</span></small>
                        <small><span  style=" margin-right:20px" ng-show="(col.copyTo)" class="pull-right alert-success"><span class="glyphicon glyphicon-arrow-right"></span>   {{col.copyTo}} </span></small>
                        </div>
                        <div  >
                            <div class="pull-left">
                                <div class="dropdown"  aria-hidden="false">
                                    <button  class="btn btn-default btn-toggle mt-8" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><!-- <span class="glyphicon glyphicon-filter"></span> -->
                                        <span class="glyphicon " ng-class="{'asc': 'glyphicon-sort-by-alphabet', 'desc': 'glyphicon-sort-by-alphabet-alt', 'none': 'glyphicon-sort lightgrey'}[col.sortOrder]">
                                        </span>
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu wide-dropdown" ng-class="($last ? 'pull-right' : '')"  role="menu" aria-labelledby="userBtn">
                                        <li ng-if="col.sortOrder != 'none'" role="presentation">
                                            <a ng-click="cbh.addSort(col.data, 'none')"><strong class="nexa"><span class="glyphicon glyphicon-remove"></span>
                                            &nbsp;Reset Sorts on {{col.knownBy}}</strong></a>
                                        </li>
                                        <li role="presentation" class="divider">
                                        </li>
                                        <li role="presentation">
                                            <a class="relative" ng-click="cbh.addSort(col.data, 'asc')"><strong class="nexa">
                                                <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                            &nbsp;Sort A-Z 
                                            <span  class=" glyphicon rightglyph" ng-class="(col.sortOrder=='asc') ? 'glyphicon-check':'glyphicon-unchecked'"></span>
                                        </strong></a>
                                        </li>
                                        <li role="presentation">
                                            <a class="relative" ng-click="cbh.addSort(col.data, 'desc')"><strong class="nexa"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                            &nbsp;Sort Z-A 
                                            <span  class="rightglyph glyphicon " ng-class="(col.sortOrder=='desc') ? 'glyphicon-check':'glyphicon-unchecked'"></span>

                                        </strong>
                                            
                                        </a>

                                        </li>

                                        <tabset  justified="true" >
                                           <tab ng-click="$event.stopPropagation();" heading="Filter">
                                            
                                            <li role="presentation">
                                                <a class=""  ng-click="$event.stopPropagation();">
                                                    <form><!-- <div class="form-group" sf-schema="col.searchformSchema.cf_schema" sf-form="col.searchformSchema.cf_form" sf-model="col.searchForm"></div -->
                                                        <div class="form-group" >
                                                            <ui-select multiple ng-model="col.searchformSchema.schema.properties.search_custom_fields__kv_any.items" theme="bootstrap"  class="col.searchformSchema.cf_form[0].htmlClass">
                                                              <ui-select-match placeholder="Choose...">{{$item.label}}</ui-select-match>
                                                              <ui-select-choices repeat="item in typeahead | filter: $select.search track by item.value" refresh-delay="col.searchformSchema.cf_form[0].options.refreshDelay" refresh="refreshSingleCustField(col.searchformSchema.cf_form[0].options.async.url ,$select.search, col.knownBy)">
                                                                <div ng-bind-html="item.label | highlight: $select.search"></div>
                                                                
                                                            </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </form>
                                                </a>
                                            </li>
                                            <li role="presentation" class="spacer">
                                            </li>
                                            <li role="presentation">
                                                <a class=""  ng-click="$event.stopPropagation();"><strong class="nexa">
                                                <span class="glyphicon glyphicon-filter" ng-class=""></span>
                                                &nbsp;A value  
                                                <span class="pull-right glyphicon glyphicon-unchecked" ng-class=""></span>
                                                </strong>
                                                </a>
                                            </li>
                                           </tab>
                                            <tab ng-click="$event.stopPropagation();" heading="Exclude">
                                                <div class="innerdrop">
                                                <li role="presentation"><!-- <div sf-schema="::searchFormSchema.cf_schema" sf-form="::searchFormSchema.cf_form" sf-model="searchForm"> --></div>
                                                </li>
                                                <li role="presentation" class="spacer">
                                            </li>
                                            <li role="presentation">
                                                
                                                <a class="" ng-click="$event.stopPropagation();"><strong class="nexa">
                                                <span class="glyphicon glyphicon-ban-circle" ng-class=""></span>
                                                &nbsp;An Item</strong>
                                                <span class="glyphicon glyphicon-unchecked pull-right" ng-class=""></span>
                                                </a>
                                            </li>
                                        </div>
                                            </tab>
                                        </tabset>
                                        
        
                        
                                    </ul>
                                </div>
                            </div>
                            <div class="pull-right" ng-if="(col.mappingOptions.length > 0)">
                                <div class="dropdown pull-right"  aria-hidden="false">
                                    <button  class="btn btn-default btn-toggle mt-8" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{(col.copyTo !='' ? 'Remap' : 'Map')}}
                                        <span class="glyphicon glyphicon-random" ng-class="col.copyTo =='' ? 'lightgrey' : ''"></span>
                                            
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu wide-dropdown"  role="menu" aria-labelledby="userBtn">
                                        <li ng-if="col.copyTo" role="presentation">
                                                
                                                <a  class="" ng-click="$event.stopPropagation(); cbh.setMappedFieldInDirective('',col.knownBy);"><strong class="nexa">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                &nbsp;Reset Mapping on {{col.knownBy}}</strong>
                                                
                                                </a>
                                                
                                            </li>
                                        <li ng-repeat="opt in col.mappingOptions" role="presentation">
                                                
                                                <a class="relative" ng-if="opt.uiClass" class="" ng-click="$event.stopPropagation(); cbh.setMappedFieldInDirective($index,col.knownBy);"><strong class="nexa">
                                                <span ng-bind-html="opt.icon"></span>
                                                &nbsp;{{opt.title}}</strong>
                                                <span ng-if="opt.uiClass" class="glyphicon  rightglyph" ng-class="opt.uiClass"></span>
                                                </a>
                                                <a disabled ng-if="!opt.uiClass" class="" ng-click="$event.stopPropagation();"><strong class="nexa lightgrey">
                                                <span ng-bind-html="opt.icon"></span>
                                                &nbsp;{{opt.title}}</strong>
                                                
                                                </a>
                                            </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                    
                </div>
            </div>
        