
<div class="row">
	<div class="col-xs-12">
		<h2 class="blue"><span class="glyphicon glyphicon-th-list"></span> Compound List <div class="dropdown pull-right">
		<button id="downloadBtn" class="btn btn-primary btn-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-download"></span> <span class="hidden-xs hidden-sm">Download</span> <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="downloadBtn">
			<li><a href="/chemblws/cbh_compound_batches/?project__project_key={{projectKey}}&format=xls">Export to Excel</a></li>
			<li><a href="/chemblws/cbh_compound_batches/?project__project_key={{projectKey}}&format=sdf">Export to SD</a></li>
		</ul>
	</div></h2>
	</div>

	

</div>

<div id="grid1" ng-grid="gridconfig.configObject.gridOptions" class="myGrid"></div>
<script>
$('.btn-toggle').dropdown()
</script>
