<div class="modal-header">
    <h3 class="modal-title blue">{{col.knownBy}} - filters and sorts</h3>
</div>
<div class="modal-body">

<!-- <div class="row">
    <div class="col-xs-12">
        <label class="pull-left">{{col.knownBy}}
        </label>
    </div>
    <small>
        <span style="margin-right:20px" ng-show="(!angular.isDefined(col.mappingOptions))" class="">&nbsp;</span>
    </small>
    <small>
        <span style="margin-right:20px" ng-show="(col.mappingOptions.length > 0 &amp;&amp; !col.copyto)" class="pull-right alert-danger">Unmapped <info-box lookup="unmapped_values_written" lookupitems="cbh.messages" right="!$last"></info-box></span>
    </small>
    <small>
        <span  style=" margin-right:20px" ng-show="(col.copyto)" class="pull-right alert-success">
        <span class="glyphicon glyphicon-arrow-right"></span>   {{col.copyto}} <span ng-show="col.automapped==true">&nbsp;(auto)</span><info-box lookup="mapped_values_written" lookupitems="cbh.messages" right="!$last"></info-box></span>
    </small>
</div> -->





    <div class="row">

        <div class="col-sm-4" ng-if="col.data =='properties.archived'">
            <div class="dropdown" aria-hidden="false">
                <!-- <button class="btn btn-default btn-toggle mt-8" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon " ng-class="cbh.archiveFilter ? 'glyphicon-filter' : 'glyphicon-filter lightgrey'"></span>
                    <span class="caret"></span>
                </button> -->
                <ul class="list-unstyled pull-left" role="menu" aria-labelledby="userBtn">
                    <li>
                        <a class="relative" ng-click="cbh.toggleArchiveFilter()" tabindex="0">
                            <strong class="nexa">
                                <span class="glyphicon glyphicon-filter"></span>
                                &nbsp;Show only archived 
                                <span class="glyphicon" ng-class="(cbh.archiveFilter) ? 'glyphicon-check':'glyphicon-unchecked'"></span>
                            </strong>
                        </a>
                    </li>
                    <li>
                        <a class="relative" ng-click="cbh.toggleArchiveFilter()" tabindex="0">
                            <strong class="nexa">
                                <span class="glyphicon glyphicon-filter"></span>
                                &nbsp;Show records not archived 
                                <span class="glyphicon" ng-class="(cbh.archiveFilter) ? 'glyphicon-unchecked': 'glyphicon-check'"></span>
                            </strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>






        <div class="col-sm-4" ng-if="!col.noSort">
            <div aria-hidden="false">
                <!-- <button class="btn btn-default btn-toggle mt-8" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span ng-if="col.searchForm" class="glyphicon " ng-class="cbh.isCustomFieldFiltered(col.knownBy) || col.showBlank==true || col.showNonBlank==true ? 'glyphicon-filter' : 'glyphicon-filter lightgrey'"></span>
                    <span class="glyphicon " ng-class="{'asc': 'glyphicon-sort-by-alphabet', 'desc': 'glyphicon-sort-by-alphabet-alt', 'none': 'glyphicon-sort lightgrey'}[col.sortOrder]">
                                </span>
                    <span class="caret"></span>
                </button> -->
                <ul class="list-unstyled pull-left" role="menu" >
                    <li class="text-center"><strong class='nexa'>Sort & filter column:</strong></li>
                    <li class="divider"><hr></li>
                    <li >
                        <a class="relative" ng-click="cbh.addSort(col.data, 'asc'); cancel();">
                            <strong class="nexa">
                                <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                &nbsp;A-Z 
                                <span  class=" glyphicon " ng-class="(col.sortOrder=='asc') ? 'glyphicon-check':'glyphicon-unchecked'"></span>
                            </strong>
                        </a>
                    </li>
                    <li >
                        <a class="relative" ng-click="cbh.addSort(col.data, 'desc'); cancel();">
                            <strong class="nexa"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                &nbsp;Z-A 
                                <span  class=" glyphicon " ng-class="(col.sortOrder=='desc') ? 'glyphicon-check':'glyphicon-unchecked'"></span>

                            </strong>
                            
                        </a>
                    </li>
                    <li ng-if="col.searchForm"  class="divider"></li>
                    <li ng-if="col.searchForm" >
                        <a class="" ng-click="cbh.blanksFilter(col, 'blanks');col.showBlank=!col.showBlank;col.showNonBlank=null; cancel();"><strong class="nexa">
                            <span class="glyphicon glyphicon-filter" ng-class=""></span>
                            &nbsp;Show only blanks</strong>
                            <span class="glyphicon pull-right" ng-class="(col.showBlank==true) ? 'glyphicon-check':'glyphicon-unchecked'"></span>
                        </a>
                    </li>
                    <li ng-if="col.searchForm">
                        <a class="" ng-click="cbh.blanksFilter(col, 'nonblanks');col.showNonBlank=!col.showNonBlank;col.showBlank=null; cancel();"><strong class="nexa">
                            <span class="glyphicon glyphicon-filter" ng-class=""></span>
                            &nbsp;Show only non-blanks</strong>
                            <span class="glyphicon pull-right" ng-class="(col.showNonBlank==true) ? 'glyphicon-check':'glyphicon-unchecked'"></span>
                        </a>
                    </li>
                    <li ng-if="col.searchForm" class="divider"></li>
                    <li ng-if="col.searchForm" >
                        <div class="input-in-dropdown" ng-click="$event.stopPropagation();$event.preventDefault();">
                                 
                            <div ng-click="$event.stopPropagation();$event.preventDefault();" class="form-group column-header-form" >
                                <div class="input-group">

                                    <ui-select  multiple 
                                    ng-model="col.searchformSchema.schema.properties.search_custom_fields__kv_any.items" 
                                    theme="bootstrap"  
                                    class="col.searchformSchema.cf_form[0].htmlClass"
                                    >
                                        <ui-select-match placeholder="Filter {{col.knownBy}}...">{{$item.label}}</ui-select-match>
                                        <ui-select-choices repeat="item in col.typeahead | filter: $select.search track by item.value" refresh-delay="col.searchformSchema.cf_form[0].options.refreshDelay" refresh="refreshSingleCustField(col,$select.search)" style="top: 32px;">
                                            <div ng-bind-html="item.label | highlight: $select.search"></div>
                                        
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-addon" id="basic-addon2" ng-click="cbh.runSearch(false);cancel();"><span class=" glyphicon glyphicon-filter" ></span>Apply</span>
                                </div>
                            </div>
                        </div>
                    </li>
            
                </ul>
            </div>
        </div>



        <div class="col-sm-8" ng-if="(col.mappingOptions.length > 0)">
            <div class="pull-left" aria-hidden="false">
                <!-- <button class="btn btn-default btn-toggle mt-8" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{(col.copyto !='' ? 'Remap' : 'Map')}}
                    <span class="glyphicon glyphicon-random" ng-class="col.copyto =='' ? 'lightgrey' : ''"></span>
                    <span class="caret"></span></button> -->
                <ul class="list-unstyled" role="menu" aria-labelledby="userBtn">
                    <li class="text-center"><strong class='nexa'>Map column to:</strong></li>
                    <li class="divider"><hr></li>
                    <li ng-repeat="opt in col.mappingOptions">
                        <a class="relative" ng-if="opt.uiClass" class="" ng-click="$event.stopPropagation(); cbh.toggleMappedFieldInDirective($index,col.knownBy);">
                            <strong class="nexa">
                                <span ng-bind-html="opt.icon"></span>
                                &nbsp;{{opt.title}}
                            </strong>
                            <span ng-if="opt.uiClass" class="glyphicon pull-right" ng-class="opt.uiClass"></span>
                        </a>
                        <a disabled ng-if="!opt.uiClass" class="" ng-click="$event.stopPropagation();"><strong class="nexa lightgrey">
                            <span ng-bind-html="opt.icon"></span>
                            &nbsp;{{opt.title}}</strong>
                            
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">Close</button>
</div>











