            <!-- Custom Fields -->
            <div class="form-group row" ng-repeat="custom_field in molecule.metadata.custom_fields" id="">
                <div class="col-xs-5 col-md-3 custom-field-key">
                    <input class="form-control" placeholder="Field Name" ng-readonly="custom_field.required" typeahead="field for field in custom_field_choices | filter:$viewValue | limitTo:20" type="text" id="custom_field_name_{{custom_field.id}}" name="custom_field_name_{{custom_field.id}}" ng-model="custom_field.name" typeahead-min-length="0">
                </div>
                <div class="col-xs-5 col-md-7 custom-field-value">
                    <input type="text" name="custom_field_value_{{custom_field.id}}"  typeahead="f for f in getValueTypeAhead(custom_field) | filter:$viewValue" id="custom_field_value_{{custom_field.id}}" class="form-control" placeholder="Value" ng-model="custom_field.value" typeahead-editable="getValueTypeAhead(custom_field).length > 0" typeahead-min-length="0">
                </div>
                <div class="col-xs-1" ng-click="removeCustomField(custom_field.id)">
                    <span class="glyphicon glyphicon-minus-sign"></span>
                </div>
            </div>
            <!-- Calculated properties here -->
            <div class="row text-center">
                <a ng-click="addCustomField()" class="btn btn-primary" role="button" ><span class="glyphicon glyphicon-plus-sign"></span> Add Custom Field</a>
            </div>