<!-- You need to define uploads as an ng-init when including this snippet  -->

<!-- <div class="row">
	<div ng-repeat="upload in uploads" class="img-thumbnail text-center" style="min-height:150px;" ng-class="expanded == upload.printName ? 'col-xs-12' : 'col-xs-4'" ng-click="clickFunction(upload.printName)">
	  <img class="img-responsive" ng-src="images/accepted-browsers.png" style="min-width:100px; margin: 0 auto;" ng-class="expanded == upload.printName ? '' : 'max-height-100'" ng-click="clickFunction(upload.printName)" />
	  <div style="width:100px; margin:0 auto;"><span style="font-size: 0.8em; word-wrap: break-word;">{{upload.printName}}</span><br></div>
	  
	</div>
</div> -->



<div class="row" style="margin-top:15px;">

	<div ng-repeat="upload in uploads" ng-animate ng-class="expanded == upload.printName ? 'col-xs-12' : 'col-xs-4'" class="animatedThumb">
		<div class="img-thumbnail text-center" style="min-height:150px; width:100%;">
			<!-- <img class="img-responsive" ng-src="{{ imageFunction(upload.url) }}" style="min-width:100px; margin: 0 auto;" ng-class="expanded == upload.printName ? '' : 'max-height-100'" ng-click="clickFunction(upload.printName)" /> -->

			<img ng-if="upload.mimeType.indexOf('image') != -1" ng-src="{{ imageFunction(upload.url) }}" style="min-width:100px; margin: 0 auto;" class="img-responsive" ng-class="expanded == upload.printName ? '' : 'max-height-100'" ng-click="clickFunction(upload.printName)"/>
            <img ng-if="upload.mimeType.indexOf('spreadsheetml') != -1 || upload.mimeType.indexOf('excel') != -1" width="100" ng-src="images/xlsx-placeholder.png" style="min-width:100px; margin: 0 auto;"/>
            <img ng-if="upload.mimeType.indexOf('wordprocessingml') != -1 || upload.mimeType.indexOf('msword') != -1" width="100" ng-src="images/docx-placeholder.png" style="min-width:100px; margin: 0 auto;"/>
            <img ng-if="upload.mimeType.indexOf('pdf') != -1" width="100" ng-src="images/pdf-placeholder.png" style="min-width:100px; margin: 0 auto;"/>
            <!-- anything else - use the file placeholder -->
            <img ng-if="upload.mimeType.indexOf('pdf') == -1 && upload.mimeType.indexOf('image') == -1 && upload.mimeType.indexOf('spreadsheetml') == -1 && upload.mimeType.indexOf('excel') == -1 && upload.mimeType.indexOf('wordprocessingml') == -1 && upload.mimeType.indexOf('msword') == -1" width="100" ng-src="images/file-placeholder.png" style="min-width:100px; margin: 0 auto;"/>


			<div style="width:100px; margin:0 auto;"><span style="font-size: 0.8em; word-wrap: break-word;">{{upload.printName}}</span><br>
				<!-- Download link here -->
				<a ng-if="upload.mimeType.indexOf('image') == -1" href="{{upload.url}}"><small>download</small></a>
				<span ng-if="upload.mimeType.indexOf('image') != -1" href="{{upload.url}}"><small>click image to expand</small></span>
			</div>
		</div>
	</div>

</div>