<div    ng-controller="filtereddropdownController" class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false }">
  <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}">{{form.title}} </label>
<div class="dropdown"  >
                <button ng-click="opened(form.key, '')" type="button" data-toggle="dropdown" class="btn btn-default btn-lg">
                        <span ng-if="!model[form.key[form.key.length -1]] || model[form.key[form.key.length -1]].length == 0">
                            Please select
                        </span>
                        <span ng-show="form.options.multiple && (model[form.key[form.key.length -1]].length < 4 && model[form.key[form.key.length -1]].length > 0)"  >
                            {{model[form.key[form.key.length -1]].length}} item<span ng-show="model[form.key[form.key.length -1]].length !=1"  >s</span> selected...
                            <span ng-repeat="item in model[form.key[form.key.length -1]] track by $index">
                                    {{item}}<span ng-if="$index!=2 && model[form.key[form.key.length -1]].length !=1">,</span>
                            </span>
                        </span>
                        <span ng-show="form.options.multiple && model[form.key[form.key.length -1]].length > 3"  >
                                {{model[form.key[form.key.length -1]].length}} items selected
                        </span>
                        <span ng-show="!form.options.multiple && model[form.key[form.key.length -1]].length > 0"  >
                                {{model[form.key[form.key.length -1]]}} 
                        </span>
                    <span class="caret" ></span>
                </button>
                <input type="hidden" name="someData" schema-validate="form" value="{{model[form.key[form.key.length -1]]}}" ng-model="model[form.key[form.key.length -1]]" />
                <ul class="dropdown-menu"  style="min-width:300px;max-width:300px;"  style="padding-top:5px; padding-bottom:5px; border-bottom:0;" >
                  
                     <li ng-show="items.length == 0 && loading == true" class="col-xs-12 pick-list-item">Loading...</li>
                     <li ng-show="numberItemsMissing==0" class="col-xs-12 pick-list-item">Click on an item to select</li> 
                     <li class="col-xs-12" ng-if="numberItemsMissing > 1">Not all items shown - search</li>
                     <li ><div class="col-xs-12"><input  placeholder="{{form.options.tagging ? 'Find a tag or create one' : 'Find a tag'}}" type="text" ng-model="autoComp"></input></div></li>
                     
                </ul>
                <ul class="dropdown-menu" style="margin-top:55px;min-width:300px;max-width:300px; max-height:300px; overflow-y:auto;  border-top:0;" >
                    <li ng-show="items.length == 0 && !form.options.tagging" class="col-xs-12">No items found</li> 

                    <li ng-if="form.options.tagging && autoCompNotInList" ng-class="model[form.key[0]].indexOf(item.key) > -1 ? 'active' : ''" >
                        <a  ng-click="toggleItem(autoCompNotInList, true); $event.stopPropagation();">
                            <span ng-if="form.options.multiple" class="glyphicon" ng-class="model[form.key[0]].indexOf(autoCompNotInList.key) > -1 ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
                            <span  >{{autoCompNotInList.key}} (create new)</span>
                        </a>
                     </li>

                    <li ng-if="form.options.tagging" ng-class="checkItem(item.key, model[form.key[0]]) > -1 ? 'active' : ''" ng-repeat="item in newTagsObjects">
                        <a  ng-click="toggleItem(item, true); $event.stopPropagation();">
                            <span ng-if="form.options.multiple" class="glyphicon" ng-class="checkItem(item.key, model[form.key[0]]) > -1 ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
                            <span  >{{item.key}} (new)</span>
                        </a>
                     </li>
                    
                     <li ng-class="checkItem(item.key, model[form.key[0]]) > -1 ? 'active' : ''" ng-repeat="item in items">
                        <a  ng-click="toggleItem(item); $event.stopPropagation();">
                            <span ng-if="form.options.multiple" class="glyphicon" ng-class="checkItem(item.key, model[form.key[0]]) > -1 ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
                            <span  >{{item.key}} ({{item.doc_count}})</span>
                        </a>
                     </li>
                </ul>
    </div>
  <span ng-if="form.feedback !== false"
        class="form-control-feedback"
        ng-class="evalInScope(form.feedback) || {'glyphicon': true, 'glyphicon-ok': form.disableSuccessState !== true && hasSuccess(), 'glyphicon-remove': form.disableErrorState !== true && hasError() }"
        aria-hidden="true"></span>

  <span ng-if="hasError() || hasSuccess()"
        id="{{form.key.slice(-1)[0] + 'Status'}}"
        class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>

  <div class="help-block" sf-message="form.description"></div>
</div>