<div    ng-controller="filtereddropdownController" class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false }">
  <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}">{{form.title}} </label>
<div class="dropdown" is-open="test" >
                <button ng-click="opened(form.key, '')" type="button" data-toggle="dropdown" class="btn btn-default btn-lg">
                        <span ng-if="$$value$$.length == 0">
                            Use the drop-down to filter
                        </span>
                        <span ng-show="$$value$$.length < 4 && $$value$$.length > 0"  >
                            {{$$value$$.length}} item<span ng-show="$$value$$.length !=1"  >s</span> selected...
                            <span ng-repeat="item in $$value$$ track by $index">
                                    {{item}}<span ng-if="$index!=2 && $$value$$.length !=1">,</span>
                            </span>
                        </span>
                        <span ng-show="$$value$$.length > 3"  >
                                {{$$value$$.length}} items selected
                        </span>
                    <span class="caret" ></span>
                </button>
                <ul class="dropdown-menu" style="min-width:300px;max-width:300px;"  style="padding-top:5px; padding-bottom:5px;" >
                  
                     <li ng-show="items.length == 0 && loading == true" class="col-xs-12 pick-list-item">Loading...</li>
                     <li ng-show="numberItemsMissing < 2" class="col-xs-12 pick-list-item">Click on an item to filter</li> 
                     <li class="col-xs-12" ng-if="numberItemsMissing > 1">Not all items shown - search</li>
                     <li ><div class="col-xs-12"><input  placeholder="Search by name" type="text" ng-model="autoComp"></input></div></li>
                     
                </ul>
                <ul class="dropdown-menu" style="margin-top:55px;min-width:300px;max-width:300px; max-height:300px; overflow-y:scroll;" >
                    <li ng-show="items.length == 0" class="col-xs-12">No items found with these search parameters</li> 

                     <li ng-class="model[form.key[0]].indexOf(item.key) > -1 ? 'active' : ''" ng-repeat="item in items">
                        <a  ng-click="toggleItem(item, model[form.key[0]]); $event.stopPropagation();">
                            <span class="glyphicon" ng-class="model[form.key[0]].indexOf(item.key) > -1 ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
                            <span  >{{item.key}} ({{item.doc_count}})</span>
                        </a>
                     </li>
                </ul>
    </div>
  <span ng-if="form.feedback !== false"
        class="form-control-feedback"
        ng-class="evalInScope(form.feedback) || {'glyphicon': true, 'glyphicon-ok': form.disableSuccessState !== true && hasSuccess(), 'glyphicon-remove': form.disableErrorState !== true && hasError() }"
        aria-hidden="true"></span>

  <span ng-if="hasError() || hasSuccess()"
        id="{{form.key.slice(-1)[0] + 'Status'}}"
        class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>

  <div class="help-block" sf-message="form.description"></div>
</div>