<nav class="navbar navbar-default" role="navigation" style="border-bottom:10px solid #72777f; border-top:5px solid #002147;">

	<div class="container">
		<div class="row">
			<div class="col pull-right" style="margin-left:20px;">
				<!-- Projects button -->
				<a id="projectsBtn" class="mt-8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div class="row pull-right">
						
						<div class="dropdown" ng-show="isLoggedIn()" style="background-color:rgb(68,104,125); margin-top:-7px; padding:16px; height:76px; max-height:76px;">
							<strong class="text-center nexa" style="padding-top:5px; color:white;"><img src="bower_components/chembiohub-theme/img/CBH_2_2_LowRes.png" style="height:45px">{{cbh.appName}}</strong>&nbsp;<span class="caret" style="color:white;"></span>
							<ul class="dropdown-menu ng-animate" role="menu" aria-labelledby="projectsBtn" style="width:210px;">
								<li role="presentation" style="background-color:#ddd; padding:0 8px;"><span class="glyphicon glyphicon-user"></span> <strong class="nexa"><span>{{cbh.logged_in_user.first_name || cbh.logged_in_user.username}}</span></strong></li>
								<li role="presentation" ng-if="cbh.logged_in_user.is_superuser" style="padding: 0 8px;"><a ng-href="{{cbh.api_base}}/admin"><span class="glyphicon glyphicon-cog"></span> <strong class="nexa">Admin Panel</strong></a></li>
								<li role="presentation" style="padding: 0 8px;"><a ng-click="cbh.invitationPopup()"><span class="glyphicon glyphicon-comment"></span> <strong class="nexa">Send an Invitation</strong></a></li>
								<li role="presentation" style="padding:0 8px;"><a href="http://goo.gl/forms/y6e4achfUE" onclick='return !window.open(this.href);'><span class="glyphicon glyphicon-exclamation-sign"></span> <strong class="nexa">Report an issue</strong></a></li>
								<li role="presentation" style="padding:0 8px;"><a href="{{ getUrlBase() }}logout"><span class="glyphicon glyphicon-off"></span> <strong class="nexa">Log Out</strong></a></li>
							</ul>
						</div>
						
						
					</div>
				</a>
				
			</div>
			<div class="col" id="slogan" class="text-right pull-right" eui-index="'cbh_queries'" eui-enabled="true"  >
				<!-- eui-query="ejs.MultiMatchQuery(['l0.project_data.Title','l1.project_data.Title','l2.project_data.Title','l3.project_data.Title'], cbh.textsearch).type('phrase_prefix')" -->
				<!--eui-aggregation="ejs.TermsAggregation('title_filtering').field('l1.project_data_all').size(10)"-->
				<ul class="list-inline pull-right text-center">
					<li class="text-center clickable" style="color:white; margin-right:10px;" ng-class="cbh.currentPageClass('cbh.projects.list')" ><a ui-sref="cbh.projects.list" style="color:white;" ><span class="glyphicon glyphicon-folder-open" style="font-size:30px;"></span><br><strong class="nexa"><small>projects</small></strong></a></li>
			
					<li style="vertical-align:top; margin-top:10px;">
						<!-- Query to pull in titles -->
						<span eui-enabled="cbh.textsearch" eui-query="ejs.BoolQuery().should(ejs.BoolQuery().must(ejs.MultiMatchQuery(['l0.project_data.Title'], cbh.textsearch).type('phrase_prefix')).must(ejs.TermQuery('level_from', 'l0'))).should(ejs.BoolQuery().must(ejs.MultiMatchQuery(['l1.project_data.Title'], cbh.textsearch).type('phrase_prefix')).must(ejs.TermQuery('level_from', 'l1'))).should(ejs.BoolQuery().must(ejs.MultiMatchQuery(['l2.project_data.Title'], cbh.textsearch).type('phrase_prefix')).must(ejs.TermQuery('level_from', 'l2')))" eui-highlight="ejs.Highlight('*').preTags('<span class=\'highlighted\'>').postTags('</span>')"></span>
						
						<!-- Terms aggregation to uniquely group Titles and limit each to the appropriate level -->
						<span eui-enabled="cbh.textsearch" eui-aggregation="ejs.TermsAggregation('title_filtering_l0').field('l0.project_data.Title.raw').agg(ejs.TermsAggregation('l0_uri').field('l0.resource_uri.raw')).size(5).agg(ejs.FilterAggregation('L0agg').filter(ejs.TermFilter('level_from', 'l0')))"></span>
						<span eui-enabled="cbh.textsearch" eui-aggregation="ejs.TermsAggregation('title_filtering_l1').field('l1.project_data.Title.raw').agg(ejs.TermsAggregation('l1_uri').field('l1.resource_uri.raw')).size(5).agg(ejs.FilterAggregation('L1agg').filter(ejs.TermFilter('level_from', 'l1')))"></span>
						<span eui-enabled="cbh.textsearch" eui-aggregation="ejs.TermsAggregation('title_filtering_l2').field('l2.project_data.Title.raw').agg(ejs.TermsAggregation('l2_uri').field('l2.resource_uri.raw')).size(5).agg(ejs.FilterAggregation('L2agg').filter(ejs.TermFilter('level_from', 'l2')))"></span>

						<div class="dropdown" >
							<input type="text" class="form-control" placeholder="Search ChemBio Hub Platform" ng-model="cbh.textsearch" style="width:600px;" data-toggle="dropdown">
							<ul class="dropdown-menu" ng-show="cbh.textsearch != ''" style="width:600px;">
								<!-- <li ng-repeat="item in indexVM.results.hits.hits" role="presentation">
									<a ng-click="console.log('whee')">{{item._source.l0.project_data.Title}} &gt;&gt; {{item._source.l1.project_data.Title}} &gt;&gt; {{item._source.l2.project_data.Title}}</a>
								</li> -->
								<li ng-if="cbh.logged_in_user.can_view_assayreg" role="presentation" >
									<a ui-sref="cbh.search_assays({textsearch: cbh.textsearch})">Search AssayReg for "{{cbh.textsearch}}"</a>
								</li>
								<li ng-if="cbh.logged_in_user.can_view_chemreg" role="presentation" ng-class="cbh.currentPageClass('cbh.search')">
									<a ui-sref="cbh.search({textsearch: cbh.textsearch})">Search ChemReg for "{{cbh.textsearch}}"</a>
								</li>
								<li ng-if="indexVM.results.aggregations.title_filtering_l2.buckets[0].L2agg.doc_count > 0"><hr></li>
								<li ng-if="cbh.logged_in_user.can_view_assayreg" ng-repeat="thing in indexVM.results.aggregations.title_filtering_l2.buckets" role="presentation" ng-if="indexVM.results.aggregations.title_filtering_l2.buckets[0].L2agg.doc_count > 0">
<!-- 									Set the text search to undefined to stop the search being run for this assay AND whatever prefix the user has typed
 -->									<a ui-sref="cbh.search_assays({l2: thing.l2_uri.buckets[0].key, textsearch:undefined})"><small><span style="color:#eee; background-color:#002147; padding:5px; border-radius:5px;" >Assay</span></small>&nbsp;{{thing.key}}</a>
								</li>
								<li ng-if="indexVM.results.aggregations.title_filtering_l1.buckets[0].L1agg.doc_count > 0"><hr></li>
								<li ng-if="cbh.logged_in_user.can_view_assayreg"  ng-repeat="thing in indexVM.results.aggregations.title_filtering_l1.buckets" role="presentation" ng-if="indexVM.results.aggregations.title_filtering_l1.buckets[0].L1agg.doc_count > 0">
									<a ui-sref="cbh.search_assays({l1: thing.l1_uri.buckets[0].key,  textsearch:undefined})"><small><span style="color:#eee; background-color:#002147; padding:5px; border-radius:5px;" >Sub-Project</span></small>&nbsp;{{thing.key}}</a>
								</li>
								<li ng-if="indexVM.results.aggregations.title_filtering_l0.buckets[0].L0agg.doc_count > 0"><hr></li>
								<li ng-repeat="thing in indexVM.results.aggregations.title_filtering_l0.buckets" role="presentation" ng-if="indexVM.results.aggregations.title_filtering_l0.buckets[0].L0agg.doc_count > 0">
									<a ui-sref="cbh.search_assays({l0: thing.l0_uri.buckets[0].key,  textsearch:undefined})"><small><span style="color:#eee; background-color:#002147; padding:5px; border-radius:5px;" >Project</span></small>&nbsp;{{thing.key}}</a>
								</li>
								
								<!-- <li role="presentation">
									<a ui-sref="cbh.search_assays({textsearch: cbh.textsearch})">Search AssayReg for "{{cbh.textsearch}}"</a>
								</li> -->
								<li><hr></li>
								<li ng-if="cbh.logged_in_user.can_view_assayreg" role="presentation">
									<a href="https://www.ncbi.nlm.nih.gov/pcassay/?term={{cbh.textsearch}}" target="_blank">Search PubChem BioAssay for "{{cbh.textsearch}}"</a>
								</li>
								<li ng-if="cbh.logged_in_user.can_view_chemreg" role="presentation">
									<a href="https://www.ncbi.nlm.nih.gov/pccompound?term={{cbh.textsearch}}" target="_blank">Search PubChem Compound for "{{cbh.textsearch}}"</a>
								</li>
							
							</ul>
						</div>

					</li>
					
					<li ng-if="cbh.logged_in_user.can_view_assayreg" class="text-center clickable"  style="color:white; margin-right:10px;" ng-class="cbh.currentPageClass('cbh.search_assays')" ><a ui-sref="cbh.search_assays({'textsearch': cbh.textsearch})" style="color:white;"><span class="glyphicon glyphicon-equalizer" style="font-size:30px;"></span><br><strong class="nexa"><small>search activities</small></strong></a></li>
					<li ng-if="cbh.logged_in_user.can_view_chemreg" class="text-center clickable" style="color:white; margin-right:10px;" ng-class="cbh.currentPageClass('cbh.search')" ><a ui-sref="cbh.search({'textsearch': cbh.textsearch})" style="color:white;"><span class="glyphicon glyphicon-search" style="font-size:30px;"></span><br><strong class="nexa"><small>search compounds</small></strong></a></li>
					<li class="text-center clickable" style="color:white; margin-right:10px;" ng-class="cbh.currentPageClass('cbh.help')"><a ui-sref="cbh.help" style="color:white;"><span class="glyphicon glyphicon-question-sign" style="font-size:30px;"></span><br><strong class="nexa"><small>help</small></strong></a></li>
				</ul>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			

		</div>
	</div>

</nav>

<script>
$('.btn-toggle').dropdown()
</script>



