<div class="modal-header">
    <h3 class="modal-title blue">Map {{col_being_mapped.elasticsearch_fieldname | removeSpaces }} to column:</h3>
</div>
<div class="modal-body">

    <div class="row">

        <div class="col-xs-12" >
            <div aria-hidden="false">
                
                <select id="field-selector"  ng-options="field.name for field in modded_project_fields" ng-model="mapping" ng-required="col_being_mapped.required" class="form-control" ng-change="someMappingFunction();" style="width:100%" ng-class="'text-success'">
                </select>

                <a ng-click="clearMapping(col_being_mapped.required)" class="pull-right">Clear selection</a><br>

                <div class="pull-right">Why is this list limited? <info-box freetext="The dropdown list shows fields which don't currently have a mapping. If you want to re-map a column, you need to click Clear Selection on the column that currently has that mapping to free it up." right="true"></info-box>
                </div>

            </div>
        </div>


    </div>
    
    <div class="row" ng-if="col_being_mapped.unmappable_rows.length > 0">
        <div class="col-xs-12" eui-index="'cbh_attachments__{{sheet.metadata.id}}'" eui-enabled="true">
            <small class="text-danger">{{warningMessage}}</small>
            <table class="table table-responsive" eui-query="ejs.IdsQuery(col_being_mapped.unmappable_rows)" eui-sort="ejs.Sort('id').order('asc')" eui-enabled="true">
                <thead>
                    <tr>
                        <th>Excel Row Number</th>
                        <th>Data Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hit in indexVM.results.hits.hits">
                        <td>{{hit._id}}</td>
                        <td>{{hit._source.attachment_data.project_data[col_being_mapped.elasticsearch_fieldname]}}</td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="text-center" ng-show="indexVM.pageCount > 1">
                                

                <ul class="pager">

                    <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=1">&lt;&lt;</a></li>
                    <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=indexVM.page - 1">&lt;</a></li>
                    
                    <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.page + 1">&gt;</a></li>
                    <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.pageCount">&gt;&gt;</a></li>
                    <!-- <li>
                        <select ng-model="indexVM.pageSize">
                            <option ng-repeat="item in [5, 10, 20]">{{item}}</option>
                        </select>
                        per page
                    </li> -->
                </ul>
                <p><small>{{indexVM.results.hits.total}} results - Page {{indexVM.page}} of {{indexVM.pageCount}}</small></p>
            </div>

        </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">Close</button>
</div>
