<div class="modal-header">
    <h3 class="modal-title blue">Map {{col_being_mapped.elasticsearch_fieldname | removeSpaces }} to column:</h3>
</div>
<div class="modal-body">

    <div class="row">

        <!-- project_fields -->
        <!-- file_field -->


        <div class="col-xs-12" >
            <div class="pull-left" aria-hidden="false">
                <!-- <select class="form-control" name="mappingoptions" id="mappingoptions" ng-model="col_being_mapped.attachment_field_mapped_to_id" >
                  <option ng-repeat="field in project_fields" value="{{field.value}}">
                    {{field.name}}
                  </option>
                </select> -->

                <select ng-options="field.name for field in project_fields track by field.value" ng-model="col_being_mapped.attachment_field_mapped_to_id" class="form-control" style="width:100%">
                </select>



            </div>
        </div>


    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">Close</button>
    <button class="btn btn-success" type="button" ng-click="someMappingFunction(col_being_mapped);cancel();">Apply</button>
</div>
