<div class="modal-header">
	<button  type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span  class="glyphicon glyphicon-remove-circle"></span></button>
    <h3 class="modal-title blue">Invite someone to AssayReg</h3>
</div>
<div class="modal-body">

    <div class="row">

        <div class="col-xs-12" >
            
            <!-- Add user (email address, first and last names?) and project(s) to add them to -->
           	<p class="nexa">To invite someone to AssayReg, add their email address, first and last names and select projects they will have access to.</p>
            <p class="text-danger"><small>{{validationMessage}}</small></p>
           	<div class="form-group">
           		<label for="id_projects" class="control-label requiredField">Select Projects</label>
           		<ui-select multiple ng-model="invite.projects_selected" theme="bootstrap" >
				    <ui-select-match placeholder="&#9660;&nbsp;Select Projects">{{$item.name}}</ui-select-match>
				    <ui-select-choices repeat="project in projects">
				      <div ng-bind-html="project.name"></div>
				    </ui-select-choices>
				</ui-select>
           	</div>
           	<div class="form-group">
           		<label for="id_email" class="control-label requiredField">Email address</label>
    			   <div class="controls "><input id="id_email" name="email" type="email" ng-model="invite.email" class="form-control"></div>
           	</div>
           	<div class="form-group">
           		<label for="id_firstname" class="control-label requiredField">First Name (optional)</label>
    			   <div class="controls "><input id="id_firstname" name="firstname" type="text" ng-model="invite.firstName" class="form-control"></div>
           	</div>
           	<div class="form-group">
           		<label for="id_lastname" class="control-label requiredField">Last Name (optional)</label>
    			    <div class="controls "><input id="id_lastname" name="lastname" type="text" ng-model="invite.lastName" class="form-control"></div>
           	</div>
           	<div class="form-group pull-right">
           		<button class="btn btn-primary" ng-click="sendInvite()"><span class="glyphicon glyphicon-envelope"></span> Send Invite</button>
           	</div>


        </div>


    </div>


</div>
<div class="modal-footer">

    <button class="btn btn-danger" type="button" ng-click="clearForm()">Clear Form</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    
</div>
