<div class="modal-header">
    <button  type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span  class="glyphicon glyphicon-remove-circle"></span></button>
    <h3 class="modal-title">My Saved Searches</h3>
</div>
<div class="modal-body">
    
    <!-- content here via template? -->
    <!-- <div ng-include="'views/templates/my-searches-list.html'" ng-init="links = links;"></div> -->

    <div class="row" ng-repeat="link in links">
        <div class="col-xs-9">
            <p class="nexa" ng-class="link.custom_fields.to_remove == true ? 'strikethrough' : ''">
                <!-- using an inplace editor library http://vitalets.github.io/angular-xeditable/#overview -->
                <strong>
                    <a ng-click="textBtnForm{{$index}}.$show()" ng-hide="textBtnForm{{$index}}.$visible"><span class="glyphicon glyphicon-pencil" title="edit" ng-if="loggedInUser.username == link.custom_fields.owner_key && link.custom_fields.to_remove == false"></span></a>&nbsp;
                    <span editable-text="link.custom_fields.alias" e-form="textBtnForm{{$index}}">{{ link.custom_fields.alias }}</span>&nbsp;
                    <span><a href="{{ link.custom_fields.url }}" ng-click="cancel()">Use this search</a> </span>
                </strong><br>

                <small><a href="{{ link.custom_fields.capped_url }}" ng-click="cancel()"><span class="glyphicon glyphicon-time"></span>&nbsp;see original results from {{ link.created | date }}</a> </small>
            </p>
        </div>
        <div class="col-xs-3 text-right">
            <!-- <p>
                <a ng-click="link.custom_fields.to_remove = !link.custom_fields.to_remove;"><span class="glyphicon " ng-class="link.custom_fields.to_remove == false ? 'glyphicon-remove' : 'glyphicon-repeat'" title="remove"></span></a>
            </p> -->
        </div>
    </div>
    <div class="row" ng-if="links.length == 0">
        You don't have any saved searches
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">Close</button>
    <!-- <button class="btn btn-success" type="button" ng-click="saveChanges()">Save Changes</button> -->
</div>