<div class="row" ng-repeat="link in links">
    <div class="col-xs-12">
        <p class="nexa" ng-class="link.customFields.to_remove == true ? 'strikethrough' : ''">
            <!-- using an inplace editor library http://vitalets.github.io/angular-xeditable/#overview -->
            <strong>
                <a ng-click="textBtnForm{{$index}}.$show()" ng-hide="textBtnForm{{$index}}.$visible"><span class="glyphicon glyphicon-pencil" title="edit" ng-if="loggedInUser.username == link.customFields.owner_key && link.customFields.to_remove == false"></span></a>
                <span class="glyphicon glyphicon-search"></span>&nbsp;
                <span editable-text="link.customFields.alias" e-form="textBtnForm{{$index}}" ng-if="link.customFields.alias != ''">{{ link.customFields.alias }}</span><span ng-if="link.customFields.alias == '' || !link.customFields.alias" class="disabled">(no title)</span>&nbsp;

            </strong><small>view details</small><br>
                <!-- <small><span class="glyphicon glyphicon-time"></span> date added: {{ link.created | date }}</small> -->
                <small><span class="glyphicon glyphicon-repeat"></span> <a href="{{ link.customFields.url }}">Use this search again</a> <br> <span class="glyphicon glyphicon-time"></span> see original results from {{ link.created | date }}</small>
            <br>

            <!-- <small><span class="glyphicon glyphicon-time"></span> date added: {{ link.created | date }}</small> -->
            <!-- Here is where the link goes for seeing the snapshot of the searc
            h -->
        </p>
        <hr>
    </div>
</div>
<div class="row" ng-if="links.length == 0">
    <div class="col-xs-12">You don't have any saved searches</div>
</div>