<div class="modal-header">
    <button  type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span  class="glyphicon glyphicon-remove-circle"></span></button>
    <h3 class="modal-title">My Saved Searches</h3>
</div>
<div class="modal-body">
    
    <!-- content here via template? -->
    <div ng-include="'views/templates/my-searches-list.html'" ng-init="links = links;"></div>

</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">Discard Changes and Close</button>
    <button class="btn btn-success" type="button" ng-click="saveChanges()">Save Changes</button>
</div>