 		<div class="modal-header">
            <button  type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span  class="glyphicon glyphicon-remove-circle"></span></button>
            <h3 class="modal-title">Save This Search</h3>
        </div>
        <div class="modal-body">
            
            <!-- content here via template? -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- form here -->
                    
                    <form  novalidate name="inputForm" role="form"  style="width:95%; display: table; margin: 0 auto;">
                        <div class="row" sf-schema="searchFormSchema.savesearch_schema" sf-form="searchFormSchema.savesearch_form" sf-model="newSavedSearchModel">
                        </div>

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="cancel()">Discard</button>
            <button class="btn btn-success" type="button" ng-click="saveSearch()">Save</button>
        </div>