<div class="row" ng-if="compoundBatches.data.length > 0 && compoundBatches.data[0].properties.imageSrc" >
    <div class="col-xs-2 col-sm-3 pull-left">
        <label class="btn btn-default" ng-class="{ active: listOrGallery.choice === 'list' }" >
            <input type="radio" ng-model="listOrGallery.choice" value="list" id="list-btn" name="listOrGallery" style="display:none;" ng-change="changeNumberPerPage('list')"><span class="glyphicon glyphicon-list-alt"></span><span class="hidden-xs hidden-sm"> List</span>
        </label>
        <label class="btn btn-default" ng-class="{ active: listOrGallery.choice === 'gallery' }" >
            <input type="radio" ng-model="listOrGallery.choice" value="gallery" id="gallery-btn" name="listOrGallery" style="display:none;" ng-change="changeNumberPerPage('gallery')"><span class="glyphicon glyphicon-picture"></span><span class="hidden-xs hidden-sm"> Gallery</span>
        </label>
        <!-- <select ng-model="compoundBatchesPerPage" ng-change="changeNumberPerPage(listOrGallery.choice)" > -->
        <small><select ng-options="item.value for item in itemsPerPage track by item.value" ng-model="pagination.compoundBatchesPerPage" ng-change="changeNumberPerPage(listOrGallery.choice)"></select> <span style="font-size:0.7em;">per page</span></small>
    </div>
    <div class="col-xs-8 col-sm-7 ">
        
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)">
            </dir-pagination-controls>
        

    </div>
    <div class="col-xs-2">

        <h2><div class="{{dropclass}} pull-right" >
           <div ng-include="'views/templates/download-buttons.html'"></div>
 
        </div></h2>
    </div>
</div>