<div class="row"  >
    <div ng-show="stateName == 'cbh.projects.project.addcompounds'" class="col-xs-3" >
        <button ng-disabled="compoundBatches.sorts.length ==0" ng-click="nullSorts()" class="btn btn-default ">
            Remove Sorts
        </button>
        <button  ng-show="stateName == 'cbh.projects.project.addcompounds'" ng-disabled="warningsFilter==''" ng-click="cbh.toggleWarningsFilter('')" class="btn btn-default ">
            Remove Filters
        </button>
    </div>
    <div class="col-xs-5" ng-show="stateName != 'cbh.projects.project.addcompounds'">

        <div class="form-group" >
            <div class="col-xs-6 col-sm-6" style="padding:0 3px;">
                <div class="btn-group">
                    <button ng-disabled="compoundBatches.sorts.length ==0" ng-click="nullSorts()" class="btn btn-default ">
                        Remove Sorts
                    </button>
                    <label class="btn btn-default" ng-class="{ active: listOrGallery.choice === 'list' }" >
                        <input type="radio" ng-model="listOrGallery.choice" value="list" id="list-btn" name="listOrGallery" style="display:none;" ng-change="changeNumberPerPage('list')"><span class="glyphicon glyphicon-list-alt"></span><span class="hidden-xs hidden-sm"> List</span>
                    </label>
                    <label ng-if="!editModeUnreachable()" class="btn btn-default" ng-class="{ active: cbh.editMode === true }" >
                        <input type="radio"  ng-click="cbh.toggleEditMode()" id="list-btn"  style="display:none;"  ><span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs hidden-sm"> Edit</span>
                    </label>
                    <label ng-if="editModeUnreachable()" class="btn btn-default" disabled title="{{cbh.messages.edit_mode_unavailable_projects}}">
                        <span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs hidden-sm"> Edit</span>

                    </label>
                    <label ng-if="!editModeUnreachable() && cbh.projAddingTo.project_type.show_compounds == false" class="btn btn-default" ng-class="{ active: addingData === true }" >
                        <input type="radio"  ng-click="toggleAddData()" id="list-btn"  style="display:none;"  ><span class="glyphicon glyphicon-plus"></span><span class="hidden-xs hidden-sm"> Add</span>
                    </label>
                    <label ng-if="editModeUnreachable()" class="btn btn-default" disabled title="{{cbh.messages.edit_mode_unavailable_projects}}">
                        <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs hidden-sm"> Add</span>

                    </label>
                    <label ng-if="cbh.projAddingTo.project_type.show_compounds == true" class="btn btn-default" ui-sref="cbh.projects.project.addcompounds({projectKey: cbh.projAddingTo.project_key})">
                        <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs hidden-sm"> Add</span>

                    </label>

                </div>
                <info-box style="margin-top:-5px; margin-right:5px" right="true" lookup="edit_mode" lookupitems="cbh.messages"></info-box>
            </div>
            <div class="col-xs-2 col-sm-2" style="padding:0 3px;">
                <label class="btn btn-default" ng-class="{ active: listOrGallery.choice === 'gallery' }">
                    <input type="radio" ng-model="listOrGallery.choice" value="gallery" id="gallery-btn" name="listOrGallery" style="display:none;" ng-change="changeNumberPerPage('gallery')"><span class="glyphicon glyphicon-picture"></span><span class="hidden-xs hidden-sm"> Gallery</span>
                </label>
            </div>
            <div class="col-xs-4 col-sm-3 text-center" style="padding:0;">
                <select ng-options="item.label for item in itemsPerPage track by item.value" ng-model="pagination.compoundBatchesPerPage" ng-change="changeNumberPerPage(listOrGallery.choice)" class="form-control">
                </select>
            </div>
        </div>

    </div>

    
    <div class="col-xs-4">
        
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" max-size="5">
            </dir-pagination-controls>
        

    </div>
    <div  ng-show="stateName != 'cbh.projects.project.addcompounds'" class="col-xs-1" >
            <input  type="text" ng-model="cbh.textsearch" />
    </div>
    <div ng-if="baseDownloadUrl" class="col-xs-2 col-sm-2 pull-right">
        
        <div class="{{dropclass}}  pull-right" >
           <div ng-include="'views/templates/download-buttons.html'"></div>
            
        </div>
    </div>
</div>