<div class="row" ng-if="compoundBatches.data.length > 0 && compoundBatches.data[0].properties.imageSrc" >
    <div class="col-xs-3"  ng-show="compoundBatches.sorts">
        <button ng-disabled="compoundBatches.sorts.length ==0" ng-click="nullSorts()" class="btn btn-primary ">
            Remove Sorts
        </button>
        <button ng-show="stateName == 'cbh.projects.project.addcompounds'" ng-disabled="warningsFilter==''" ng-click="cbh.toggleWarningsFilter('')" class="btn btn-primary ">
            Remove Filters
        </button>
    </div>
    <div class="col-xs-4" ng-show="stateName != 'cbh.projects.project.addcompounds'">

        <div class="form-group" >
            <div class="col-xs-3 col-sm-4" style="padding:0 3px;">
                <label class="btn btn-default" ng-class="{ active: listOrGallery.choice === 'list' }" >
                    <input type="radio" ng-model="listOrGallery.choice" value="list" id="list-btn" name="listOrGallery" style="display:none;" ng-change="changeNumberPerPage('list')"><span class="glyphicon glyphicon-list-alt"></span><span class="hidden-xs hidden-sm"> List</span>
                </label></div>
            <div class="col-xs-3 col-sm-4" style="padding:0 3px;">
                <label class="btn btn-default" ng-class="{ active: listOrGallery.choice === 'gallery' }">
                    <input type="radio" ng-model="listOrGallery.choice" value="gallery" id="gallery-btn" name="listOrGallery" style="display:none;" ng-change="changeNumberPerPage('gallery')"><span class="glyphicon glyphicon-picture"></span><span class="hidden-xs hidden-sm"> Gallery</span>
                </label>
            </div>
            <div class="col-xs-6 col-sm-4 text-center" style="padding:0;"><select ng-options="item.label for item in itemsPerPage track by item.value" ng-model="pagination.compoundBatchesPerPage" ng-change="changeNumberPerPage(listOrGallery.choice)" class="form-control"></select></div>
        </div>

    </div>

    
    <div class="col-xs-6">
        
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" max-size="5">
            </dir-pagination-controls>
        

    </div>
    
    <div ng-if="baseDownloadUrl" class="col-xs-2">
        <h2><div class="{{dropclass}} pull-right" >
           <div ng-include="'views/templates/download-buttons.html'"></div>
 
        </div></h2>
    </div>
</div>