
<div class="col-lg-7">
	<div class="row">
		<div id="plate">
				<div class="col-headers row">
					<ul class="list-inline">
						<li class="platewell header">&nbsp;</li>
						<li class="platewell  header" ng-repeat="col in cols">{{col}}</li>
					</ul>
				</div>
				<div class="row" ng-repeat="row in rows">

					<ul class="list-inline">
						<li class="platewell header">{{row}}</li>
						<li class="platewell" ng-repeat="col in cols">
							
							<div ng-click="showWellForm(plateForm.wells[row + col])" id="{{row + col}}" ng-class="{'selection' : isWellSelected(row + col, plateForm), 'contains-info': wellHasData(row + col, plateForm)}">&nbsp;</div>
							
						</li>
					</ul>

				</div>
				<!-- Empty spacer row -->
				<div class="row"></div>
		</div>
	</div>

</div>
<div class="col-lg-5">
	<div ng-show="wellForm.row">
		<h2 class="blue">{{wellForm.row}}{{wellForm.col}}</h2>
		<!-- form for well details here -->
		<form novalidate name="singleWellForm" role="form"  style="width:95%; display: table; margin: 0 auto;" >
			
			<div class="row" sf-schema="schemaFormHolder.well_schema" sf-form="schemaFormHolder.well_form" sf-model="plateForm.wells[wellForm.row + wellForm.col]">

			</div>
			<div class="row">
				<div class="col pull-right">
					<span ng-if="savingWell"><img src="images/ajax-loader.gif"></span>&nbsp;
					<button class="btn btn-success" ng-click="saveWell(singleWellForm)">
						Save Well
					</button>
					<button class="btn btn-danger" ng-click="clearWell(singleWellForm)">
						Clear Well
					</button>
				</div>
			</div>
			<div class="row pull-right mt">
				<div class="col-xs-12">
					<span ng-if="plateSaved" class="alert-success">Plate saved</span>&nbsp;
					<button class="btn btn-success" ng-click="savePlateFunction()">Save Plate</button>
				</div>
			</div>

		</form>

	</div>

	
</div>