<div class="row">
	<div class="col-xs-12">
		<div class="form-group pull-right">
			<div class="pull-right">
				<button class="btn btn-primary" ng-click="clearSavedSearch()"><span class="glyphicon glyphicon-remove"></span> (Search applied)</button>
				<button class="btn btn-success" ng-click="openNewSavedSearchPopup()"><span class="glyphicon glyphicon-save-floppy"></span> Save this search</button>
				<button class="btn btn-primary" ng-click="openMySavedSearchPopup()"><span class="glyphicon glyphicon-pencil"></span> My Saved Searches</button>
			</div>
			<p class="help-block"><small>Perform a search over and over again? Use the saved search feature to save time.</small></p>

		</div>
		
	</div>
	<div class="col-xs-12">
		<div class="form-group pull-right">
			
		</div>
	</div>
	
		
	
</div>
