<div class="container-flex">
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-8">
            <h2 id="searchtop" class="blue pull-left" style="display:inline-block; width:30%"><span class="glyphicon glyphicon-search"></span> Search &nbsp;</h2>
            
        </div>
        <div class="col-xs-4 pull-right" >
                <div ng-include="'views/templates/saved-search-buttons.html'"></div>
            </div>
        <!-- <div ng-if="projectFrom" class="col-sm-12 alert alert-success mb" > -->
        <div ng-if="justAdded" class="col-xs-12 alert alert-success mb">
            Your saved {{projectObj.project_type.show_compounds == true ? 'compounds' : 'items' }} are shown below. You can now either view the full project or add more items.
            <button ui-sref="cbh.search({project__project_key_in: selected_projects[0], multiple_batch_id:undefined})" ng-click="cbh.hideSearchForm=false;" class="  btn btn-primary ">View full project</button>
            <button ui-sref="cbh.projects.project.addsingle({projectKey: selected_projects[0]})" class=" btn btn-primary" ng-show="projectObj.project_type.show_compounds">Draw another compound</button>
            <button ui-sref="cbh.projects.project.addcompounds({projectKey: selected_projects[0]})" class=" btn btn-primary">Add more {{selected_projects[0].project_type.show_compounds == true ? 'compounds' : 'items' }} via file</button>
        </div>
    
        <!-- <div class="row" sf-schema="searchFormSchema.simple_schema" sf-form="searchFormSchema.simple_form" sf-model="cbh.searchForm">

				</div> -->

        
        		<!-- Holder for existing filters here -->
                <div class="col-xs-12"  style="margin:5px 0;">
                    <!-- <h2 style="margin-bottom:0px" class="subheading">Filters applied</h2> -->
            		  <search-breadcrumbs cbh="cbh"></search-breadcrumbs>
                </div>
                

                <div class="col-xs-12" style="margin:5px 0;">
                		<div class="filterHolder">

                			<search-filter cbh="cbh"></search-filter>
                		</div>
                </div>
    </div>
            <a id="search-bottom"></a>

</div>
