	<div class="col-sm-12 " >
				<div class="col-sm-4 holder" >

					<fieldset class="breadcrumbs">
						<legend>Sorts</legend>
						<ul class="list-inline">
							
							<!-- need this to be able to launch the filter window too. Just use broadcast? -->
							<li class="breadcrumb" ng-repeat="bc in sort_objects" >
								<span class="bcname" ng-click="filterClicked(bc.name)">{{bc.knownBy}} </span>
								<span class="glyphicon glyphicon-sort-by-alphabet" ng-if="bc.sort_direction == 'asc'"></span>
								<span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-if="bc.sort_direction == 'desc'"></span>
								<button type="button" class="close" aria-label="Close" ng-click="closeBreadcrumb(bc.name)"><span aria-hidden="true">&times;</span></button>
							</li>
							<li ng-if="!sort_objects">
								<small>No sorts</small>
							</li>

						</ul>
					</fieldset>
					<fieldset class="breadcrumbs">
						<legend>Hides</legend>
						<ul class="list-inline">
							
							<!-- need this to be able to launch the filter window too. Just use broadcast? -->
							<li class="breadcrumb" ng-repeat="bc in hide_objects" >
								<span class="bcname" ng-click="filterClicked(bc.name)">{{bc.knownBy}}</span>
								<span class="glyphicon glyphicon-eye-close" ></span>
								<button type="button" class="close" aria-label="Close" ng-click="closeBreadcrumb(bc.name)"><span aria-hidden="true">&times;</span></button>
							</li>

							<li ng-if="!hide_objects">
								<small>No hidden columns</small>
							</li>
						</ul>
					</fieldset>

				</div>

				<div class="col-sm-8 holder" >

					<fieldset class="breadcrumbs">
						<legend>Filters</legend>
						<ul class="list-inline">
							
							<!-- need this to be able to launch the filter window too. Just use broadcast? -->
							<li class="breadcrumb" ng-repeat="bc in filter_objects" >
								<span class="bcname" ng-click="filterClicked(bc.name)">{{bc.knownBy}}</span>
								<span class="bcname" ng-click="filterClicked(bc.name)">{{filterAsString(bc)}}</span>
								<span class="glyphicon glyphicon-filter" ></span>
								<button type="button" class="close" aria-label="Close" ng-click="closeBreadcrumb(bc.name)"><span aria-hidden="true">&times;</span></button>
							</li>
							<li ng-if="!filter_objects">
								<small>No filters</small>
							</li>

						</ul>
					</fieldset>

				</div>
</div>

