

				<div class="col-xs-12 holder" id="breadcrums">

					<fieldset>
						<ul class="list-inline">
							
							<!-- need this to be able to launch the filter window too. Just use broadcast? -->
							<li class="breadcrumb" ng-repeat="bc in breadcrumbList" >
								<span class="bcname" ng-click="filterClicked(bc.name)">{{bc.knownBy}}</span>
								<span class="glyphicon glyphicon-filter" ng-if="bc.filter_applied"></span>
								<span class="glyphicon glyphicon-sort-by-alphabet" ng-if="bc.filters.sort_direction == 'asc'"></span>
								<span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-if="bc.filters.sort_direction == 'desc'"></span>
								<button type="button" class="close" aria-label="Close" ng-click="closeBreadcrumb(bc.name)"><span aria-hidden="true">&times;</span></button>
							</li>

						</ul>
					</fieldset>

				</div>


