
<div style="  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;">
<div class="col-sm-2 holder"  >
	<fieldset class="breadcrumbs">
		<legend>Hidden Fields</legend>
		<ul class="list-inline">
			<div class="dropdown">
				<button id="hidefieldOptions" type="button" data-toggle="dropdown"class="btn btn-default btn-lg">
					<span ng-if="!hide_objects || hide_objects.length == 0">
                     		Nothing Hidden
                     	</span>
                     <span ng-if="hide_objects.length == 1">
                     		{{hide_objects[0].knownBy}}
                     	</span>
                     <span ng-if="hide_objects.length   > 1">
                     		{{hide_objects.length}} hidden fields
                     	</span>
                    <span class="caret" ></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="hidefieldOptions">
                	<li><a ng-click="unHideAll()">Show all fields</a></li>
                	<li><hr>
                	</li>
                     <li class="col-xs-12">Click to hide or show</li> 
                     <li ><div class="col-xs-12"><input  placeholder="Search by name" type="text" ng-model="hidefilt"></input></div></li>
                     <li ng-repeat="col in cbh.tabular_data_schema | filter:{knownBy : hidefilt}:strict">
                     	<a ng-click="toggleHide(col)">
                     		<span class="glyphicon" ng-class="col.hide=='hide' ? 'glyphicon-eye-close' : 'glyphicon-eye-open'"></span>
                     		{{col.knownBy}}
                     	</a>
                     </li>
                </ul>
               </div>
			<!-- <li class="breadcrumb" ng-repeat="bc in hide_objects" >
				<span class="bcname" ng-click="filterClicked(bc)">{{bc.knownBy}}</span>
				<span class="glyphicon glyphicon-eye-close" ></span>
				<button type="button" class="close" aria-label="Close" ng-click="closeHideBreadcrumb(bc)"><span aria-hidden="true">&times;</span></button>
			</li>

			<li ng-if="!hide_objects || hide_objects.length == 0">
				<small>No hidden columns</small>
			</li> -->
		</ul>
	</fieldset>

</div>
<div class="col-sm-4 holder" >

	<fieldset class="breadcrumbs">
		<legend>Sorts</legend>
		<ul class="list-inline">
			
			<!-- need this to be able to launch the filter window too. Just use broadcast? -->
			<li class="breadcrumb" ng-repeat="bc in sort_objects" >
				<span class="bcname" ng-click="filterClicked(bc)">{{bc.knownBy}} </span>
				<span class="glyphicon glyphicon-sort-by-alphabet" ng-if="bc.sort_direction == 'asc'"></span>
				<span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-if="bc.sort_direction == 'desc'"></span>
				<button type="button" class="close" aria-label="Close" ng-click="closeSortBreadcrumb(bc)"><span aria-hidden="true">&times;</span></button>
			</li>
			<li ng-if="!sort_objects || sort_objects.length == 0">
				<small>No sorts</small>
			</li>

		</ul>
	</fieldset>
</div>
<div class="col-sm-4 holder" >

	<fieldset class="breadcrumbs">
		<legend>Filters</legend>
		<ul class="list-inline">
			
			<!-- need this to be able to launch the filter window too. Just use broadcast? -->
            
			<li class="breadcrumb" ng-repeat="bc in filter_objects" >
				
				<p class="nexa">
					<button type="button" class="close pull-right" aria-label="Close" ng-click="closeFilterBreadcrumb(bc)"><span aria-hidden="true">&times;</span></button>
					<span class="glyphicon glyphicon-filter pull-right" ></span>
					<span class="bcname" ng-click="filterClicked(bc)">{{bc.knownBy}}</span><br>
					<span class="bcname" ng-click="filterClicked(bc)" style="font-size:0.8em; color:#aaa;">{{bc.display_filter}}</span>

					
				</p>

			</li>
			<li ng-if="!filter_objects || filter_objects.length == 0">
				<small>No filters</small>
			</li>

		</ul>
	</fieldset>

</div>
<div class="col-sm-2">
    <button style="margin-top:30px" class="btn btn-lg btn-danger pull-right" ng-click="cbh.resetSearch()">Reset Search Page</button>
</div>
</div>