<div ng-if="showFilters">
<div >
    <button  type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" ng-click="close()"><span  class="glyphicon glyphicon-remove-circle"></span></button>
    <h2 class="subheading" >{{col.knownBy}} - filters and sorts</h2>
</div>
<form novalidate id="html5ValidationForm" name="html5ValidationForm" ng-submit="submit(html5ValidationForm)">
   <div class="col-xs-12"><div  class="col-xs-12" sf-schema="asfSchema" sf-form="asfForm" sf-model="col.filters"></div>
         <div ng-show="false" class="col-xs-12"><button id="validatorId" type='submit' value="Submit" class="btn btn-primary" form="html5ValidationForm"><span class="glyphicon glyphicon-share"></span>Apply Filter</button></div>
</form>

</div>




