<div class="container-flex">
		<div class="row" style="margin-top:10px;">
			<div class="col-sm-12">
				<h2 id="searchtop" class="blue pull-left"><span class="glyphicon glyphicon-search"></span> Search &nbsp;<button class="btn btn-default pull-right " ng-if="!cbh.hideSearchForm" ng-click="cbh.hideSearchForm=true;">Hide Search Form</button>
            <button class="btn btn-default pull-right " ng-if="cbh.hideSearchForm" ng-click="cbh.hideSearchForm=false;">Show Search Form</button></h2>
			</div>
			<div ng-if="projectFrom" class="col-sm-12 alert alert-success mb">
				Your saved {{projectFrom.project_type.show_compounds == true ? 'compounds' : 'items' }} are shown below. You can now either view the full project or add more items. 
				<button ui-sref="cbh.search({project__project_key_in: projectFrom, projectFrom:undefined, multiple_batch_id:undefined})" ng-click="cbh.hideSearchForm=false;" class="  btn btn-primary ">View full project</button>
				<button ui-sref="cbh.projects.project.addcompounds({projectKey: projectFrom})" class=" btn btn-primary">Add more {{projectFrom.project_type.show_compounds == true ? 'compounds' : 'items' }}</button>

			</div>

		</div>
		<div  ng-if="projectFrom" class="row mt">
		</div>
		
			<form ng-if="!cbh.hideSearchForm" novalidate name="inputForm" role="form"  style="width:95%; display: table;
    margin: 0 auto;">
				<div class="row">
					<div class="col-sm-5 ">
						<div class="row">
							<chemdoodle-window sketch-molfile="sketchMolfile" fetch-data="fetchData()" molecule="cbh.searchForm.molecule"></chemdoodle-window>
							<div id="sketcher_output"></div>
						</div>	
					</div>

					<div class="col-sm-7 ">
						
						<div class="row" sf-schema="searchFormSchema.schema" sf-form="searchFormSchema.form" sf-model="cbh.searchForm"></div>


						<!-- <div ng-include="'views/search_custom_fields.html'"></div> -->
						<div class="row mt">
							<div  >
					
					<button ng-click="cbh.runSearch(true)" type="submit" class="btn btn-lg btn-primary "><span class="glyphicon glyphicon-search"></span> Run structure search</button>
<button type="cancel" ng-click="cancel()" class="btn btn-lg btn-danger pull-right"><span class="glyphicon glyphicon-close"></span> Reset</button>

				</div>

						</div>
					<!-- Buttons -->

				</div>
						


					</div>
					<a id="search-bottom"></a>

					

			</form>

</div>
