<div class="modal-header">
    <button type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" ng-click="$dismiss('cancel')"><span class="glyphicon glyphicon-remove-circle"></span></button>
    <h2 class="modal-title blue nexa">Batch {{::mol.id}} - {{::mol.uuid}} <a href="" clip-copy="::mol.chemblId" clip-click="" role="button" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> Copy ID</a> 

<a ng-if="projectObj.project_type.show_compounds == true" href="" clip-copy="::mol.properties.cdxml" clip-click="" role="button" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> Copy CDXML</a> 

<button class="btn btn-primary" ng-disabled="!projectObj.editor"   ng-click="openClone()">{{projectObj.project_type.copy_action_name}}</button>
<small>


<span class="glyphicon glyphicon-folder-open"></span>

&nbsp;&nbsp;{{projectObj.name}}</small> </h2>
</div>
<!-- <div class="modal-body" 
    flow-init="flowinit"
    flow-name="dpclassif.filedata.flow"
    flow-files-submitted="$flow.upload()"
    flow-file-success="dpclassif.getSheetsForFile($file.uniqueIdentifier)" 
    flow-upload-started="" 
    flow-complete="dpclassif.filesUploading=false"> -->
  <div class="modal-body">
    <!-- put flowfile init stuff in here so it encapsulates the file upload element -->
    <div class="row" ng-show="isNewCompoundsInterface">
        <div class="col-xs-12">
            <img ng-if="mol.bigimage" class="col-xs-12 col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-src="data:image/png;base64,{{mol.bigimage}}"></img>
        </div>
    </div>
    <div ng-hide="isNewCompoundsInterface">
        <div class="row" ng-hide="mol.blindedBatchId">
            <div class="col-xs-12 col-md-4" ng-if="projectObj.project_type.show_compounds == true">
                <img ng-if="mol.bigimage" class="col-xs-12" ng-src="data:image/png;base64,{{mol.bigimage}}"></img>
            </div>
            <div class="col-xs-12 col-md-8 ">
                <div class="col-xs-12 ">
                    <h2 class="nexa blue ">{{projectObj.project_type.show_compounds == true ? 'Compound' : 'Item' }} Information</h2>
                </div>
                <div class="col-xs-12 col-md-6">
                    <button-input copy-model="::mol.created_by" disabled="true" label="'Added By'"></button-input>
                    <div ng-if="projectObj.project_type.show_compounds == true">
                        <button-input copy-model="::mol.canonical_smiles" disabled="true" label="'SMILES'"></button-input>
                        <button-input copy-model="::mol.standard_inchi" disabled="true" label="'Standard INCHI'"></button-input>
                        <button-input copy-model="::mol.standard_inchi_key" disabled="true" label="'Standard INCHI key'"></button-input>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <button-input copy-model="::mol.created | date:'dd-MM-yyyy'" disabled="true" label="'Registered on'"></button-input>
                    <div ng-if="projectObj.project_type.show_compounds == true">
                        <button-input copy-model="::mol.alogp | number:2" disabled="true" label="'AlogP'"></button-input>
                        <button-input copy-model="::mol.molecularWeight | number:2" disabled="true" label="'Mol Weight'"></button-input>
                        <button-input copy-model="::mol.fullMolformula" disabled="true" label="'Mol Formula'"></button-input>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider spacer"></div>
        <div class="row">
            <!-- <button-input copy-model="mol.rotatableBonds" disabled="true" label="'Rotatable Bonds'"></button-input>
 -->
            <div class="col-xs-12 ">
                <div class="col-xs-12 ">
                    <h2 class="nexa blue ">Project Data 
    <!-- <button ng-disabled="!projectObj.editor" class="btn btn-primary" ng-model="editMode" btn-checkbox btn-checkbox-true="1" ng-click="init()" btn-checkbox-false="0">Toggle Edit Mode</button> -->
    <button ng-disabled="!projectObj.editor" ng-show="!editMode" class="btn btn-primary" ng-click="enterEditMode(true)">Edit Mode</button>
    <button ng-disabled="!projectObj.editor" ng-show="editMode" class="btn btn-danger" ng-click="enterEditMode(false)">Cancel Edit</button>
 <button class="btn btn-primary"  ng-show="editMode" ng-click="updateBatch()">Update Project Data</button>
</h2>
                </div>
                <div class="alert alert-success" ng-show="update_success">Project Data Updated Successfully</div>
                <div class="col-xs-12 col-md-6" ng-hide="editMode">
                    <div ng-repeat="item in firstList track by item.key">
                        <button-input copy-model="item.value" disabled="true" label="::item.key" ng-if="item.isFileField == false"></button-input>
                        <div class="form-group" ng-if="item.isFileField == true">
                            <label>{{item.key}}</label>
                            <ul class="list-unstyled">
                                <li ng-repeat="attc in item.attachments">
                                    <a href="{{attc.url}}">{{attc.printName}}</a>
                                </li>
                                <li ng-show="item.attachments.length == 0">no items</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-md-6" ng-hide="editMode">
                    <div ng-repeat="item in secondList track by item.key">
                        <button-input copy-model="item.value" disabled="true" label="::item.key" ng-if="item.isFileField == false"></button-input>
                        <div class="form-group" ng-if="item.isFileField == true">
                            <label>{{item.key}}</label>
                            <!-- <ul class="list-unstyled">
                                <li ng-repeat="attc in item.attachments">
                                    <a href="{{attc.url}}">{{attc.printName}}</a>
                                </li>
                                <li ng-show="item.attachments.length == 0">no items</li>
                            </ul> -->
                            <ul class="list-inline">
                              <li ng-repeat="attachment in item.attachments" style="display:inline-table;">
                                <div class="text-center col-xs-12 thumb-container" >
                                  <!-- <img width="100" ng-if="{png:1,gif:1,jpg:1,jpeg:1}[is_uploading.getExtension()]" flow-img="is_uploading" /> -->
                                  <img ng-if="attachment.mimeType.indexOf('image') != -1" width="100" ng-src="{{attachment.url}}" />
                                  <img ng-if="attachment.mimeType.indexOf('spreadsheetml') != -1 || attachment.mimeType.indexOf('excel') != -1" width="100" ng-src="images/xlsx-placeholder.png" />
                                  <img ng-if="attachment.mimeType.indexOf('wordprocessingml') != -1 || attachment.mimeType.indexOf('msword') != -1" width="100" ng-src="images/docx-placeholder.png" />
                                  <img ng-if="attachment.mimeType.indexOf('pdf') != -1" width="100" ng-src="images/pdf-placeholder.png" />
                                  <!-- anything else - use the file placeholder -->
                                  <img ng-if="attachment.mimeType.indexOf('pdf') == -1 && attachment.mimeType.indexOf('image') == -1 && attachment.mimeType.indexOf('spreadsheetml') == -1 && attachment.mimeType.indexOf('excel') == -1 && attachment.mimeType.indexOf('wordprocessingml') == -1 && attachment.mimeType.indexOf('msword') == -1" width="100" ng-src="images/file-placeholder.png" />
                                  <div class="thumb-overlay">
                                    <p>
                                      <span style="font-size: 0.8em; word-wrap: break-word;">{{attachment.printName}}</span>
                                      
                                    </p>
                                  </div>
                                  
                                </div>
                                  
                                  
                                
                              </li>
                              <li ng-show="item.attachments.length == 0">no attachments</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div ng-if="editMode" class="col-xs-12 col-md-6">
                    <div class=" form-group" sf-schema="myschema" sf-form="firstForm" sf-model="mol.custom_fields"></div>
                </div>
                <div ng-if="editMode" class="col-xs-12 col-md-6">
                    <div class=" form-group" sf-schema="myschema" sf-form="secondForm" sf-model="mol.custom_fields"></div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="col-xs-12" ng-show="mol.uncurated_fields | notEmpty">
                <div class="col-xs-12 ">
                    <h2 class="nexa blue">Supplementary Data</h2>
                </div>
                <div class="col-xs-6" ng-repeat="(name, value) in mol.uncurated_fields">
                    <button-input copy-model="::value" disabled="true" label="::name"></button-input>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!projectObj.editor" ng-show="editMode" ng-click="updateBatch(modalInstance);">Update and Close</button>
    <button class="btn btn-danger" ng-click="$dismiss('cancel')">Close <span ng-show="editMode">and Discard Changes</span></button>
</div>