
<button class="btn btn-lg" style="min-height:100px; width:13.93%; margin-right:5px" ng-repeat="item in validationItems" ng-class="item.class" ng-click="item.filter()">
        <div class="row">
    <info-box class="pull-right" style="margin-top:-5px; margin-right:5px" left="false" lookup="{{item.message}}"  lookupitems="cbh.messages"></info-box>
</div>
    <div class="row">
        <div   ng-show="filesInProcessing" class="col-centered bubblingG">
              <span id="bubblingG_1">
              </span>
              <span id="bubblingG_2">
              </span>
              <span id="bubblingG_3">
              </span>
    </div>
    <div class="col-xs-12 report-value" ng-hide="filesInProcessing">
        
        <strong>

            {{datasets[current_dataset_id].config[item.reference]}}
        </strong>
    </div>
        <div ng-hide="filesInProcessing" class="col-xs-12">{{item.name}}<span class="glyphicon glyphicon-filter"></span>      
</div>
        
    </div>
</button>