<div class="container-flex">
    <div class="row">
        <div class="col-xs-12" style="margin:20px;">
            <h2 class="blue">{{(idToClone ? 'Clone' : 'Add')}} Single Compound<br><small>If you want to add more than one compound at a time via SD or Excel, please use <a ui-sref="cbh.projects.project.addcompounds({projectKey: projectKey})">this form</a></small></h2>
        </div>
    </div>
    <div class="row">
        <form novalidate name="inputForm" role="form" style="width:95%; display: table; margin: 0 auto;" ng-submit="validateOtherFormData(inputForm)">
            <div class="row">
                <div class="col-sm-6 ">
                    <!-- <div ng-show="isIE" class = "alert-warning">
                            It looks like you are using Internet Explorer, for a better experience with ChemDoodle on ChemBio Hub we reccomend using a different browser as only the single bonds and typing atoms features are available in Explorer.
                        </div> -->
                    <div class="col-lg-12">
                        <chemdoodlewrapper ng-if="mol" molfile="mol.molecule" elementid="'chemdoodle_compound_adder'" >
                            <canvas id="chemdoodle_compound_adder"></canvas>
                        </chemdoodlewrapper>
                    </div>
                    <div class="row" id="warnings" ng-if="dataset.config.errors.length > 0">
                        <div class="col-xs-12">
                            
                                <p class="nexa text-danger bg-danger"><strong>It looks like you have drawn an invalid structure - please check and click Validate Compound again if you make any changes.</strong></p>
                                
                           
                        </div>
                    </div>
                    <div class="row" id="all-okay" ng-if="dataset.config.errors.length == 0 && mol.molecule != '' && dataset.config.compoundstats.overlaps > 0">
                        <div class="col-xs-12">
                            
                                <p class="nexa text-primary bg-primary"><strong>This structure has been entered before - you can still save it and it will be assigned a new batch ID.</strong></p>
                           
                        </div>
                    </div>
                    <div class="row" id="all-okay" ng-if="dataset.config.errors.length == 0 && mol.molecule != '' && dataset.config.compoundstats.overlaps == 0">
                        <div class="col-xs-12">
                            
                                <p class="nexa text-success bg-success"><strong>No problem with your structure and no overlap found.</strong></p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="row">
                        <div class="col-xs-12" ng-if="myschema.properties | notEmpty">
                            <h2 class="blue">Project Fields<br><small>Add data specific to this project here. This data WILL be searchable within the ChemBio Hub Platform.<br>If you make any changes to these fields after clicking Validate, you will have to click Validate again for these changes to be submitted.</small> </h2>
                            <div class="col-xs-12">
                                <div class=" form-group" sf-schema="myschema" sf-form="myform" sf-model="mol.customFields"></div>
                            </div> 
                        </div>
                        <div class="col-xs-12">
                            <h2 class="nexa blue">Supplementary Data <br><small>Add extra data specific to this compound here. This data WILL NOT be searchable within the ChemBio Hub Platform</small> </h2>
                            
                                <!-- Need to convert this to the "Add a new field" code that I seem to have written 4 times now -->
                            <div class="row" ng-repeat="custom_field in mol.supplementaryFields" style="margin-top:10px;">
                                
                                    <div class="col-xs-5 col-md-3 custom-field-key">
                                        <input class="form-control" placeholder="Field Name" type="text" id="custom_field_name_{{custom_field.id}}" name="custom_field_name_{{custom_field.id}}" ng-model="custom_field.name">
                                    </div>
                                    <div class="col-xs-6 col-md-8 custom-field-value">
                                        <input type="text" name="custom_field_value_{{custom_field.id}}" id="custom_field_value_{{custom_field.id}}" class="form-control" placeholder="Value" ng-model="custom_field.value">
                                    </div>
                                    <div class="col-xs-1" ng-click="removeSupplemetaryField(custom_field.id)"><span class="glyphicon glyphicon-minus-sign text-danger" title="Remove this field"></span></div>
                            </div>
                            <!-- Calculated properties here -->
                            
                            <!-- <button-input copy-model="::value" disabled="true" label="::name"></button-input> -->
                        
                            <div class="row text-center mt">
                                <a ng-click="addSupplementaryField()" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus-sign"></span> Add Supplementary Data Field</a>
                            </div>
                        </div>
                    </div>
                </div>
              
                    <!-- Buttons -->
            </div>
            <div class="row" ng-if="errormess!=''">
                <div class="help-block col-xs-12 text-center">
                    <p class="nexa text-danger"><strong>{{errormess}}</strong></p>
                </div>
            </div>
              <div class="row mt">
                    <div class="col-xs-12">
                        <div class="pull-right">
                            <button type="button" ng-show="mol.molecule == ''" disabled class="btn btn-lg btn-primary "><span class="glyphicon glyphicon-ok"></span> Validate compound</button>
                            <button type="button"  ng-show="mol.molecule != ''" ng-click="validateDrawn()" class="btn btn-lg btn-primary "><span class="glyphicon glyphicon-ok"></span> Validate compound</button>
                            
                            <button  ng-show="idToClone && mol.molecule != '' && dataReady && dataset.config.errors.length == 0" value="Submit" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-share" ng-click="doArchiveItem = true"></span><span class="glyphicon glyphicon-ok"></span>Save compound and archive cloned compound</button>
                          
                            <button ng-show="mol.molecule != '' && dataReady && dataset.config.errors.length == 0"  class="btn btn-lg btn-success" ><span class="glyphicon glyphicon-share" ng-click="doArchiveItem = false"></span><span class="glyphicon glyphicon-ok"></span>Save compound</button>
                            
                            <button type="button" ng-click="revert()" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-remove"></span> {{(idToClone ? 'Revert to cloned' : 'Clear form')}}</button>
                        </div>
                    </div>
                </div>
            <a id="search-bottom"></a>
        </form>
    </div>
</div>