<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<a ui-sref="cbh.projects.list">
	        	<h2 class="nexa blue"><small><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Back to project list</small></h2>
	        </a>
	    </div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2 class="blue"><span class="glyphicon glyphicon-plus-sign"></span> Add {{addition_name}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group" sf-schema="::edit_schema" sf-form="::edit_form" sf-model="test_model.project_data"></div>
		</div>
	</div>
	<div class="row mt">
		<div class="col-xs-12">
			<div class="form-group pull-right">
				<button type="button" class="btn btn-danger" ng-click="addctrl.clearForm()"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
				<button type='submit' class="btn btn-primary" ng-click="addctrl.submitForm()"><span class="glyphicon glyphicon-share"></span> Submit</button>
			</div>
		</div>
	</div>


	
</div>
