<div ng-show="currentlyLoading" id="loading-overlay"></div>
<div ng-show="currentlyLoading" id="loading-message"><img src="images/loader.gif"></img></div>

<div flow-init="flowinit"
        flow-name="filedata.flow"
        flow-files-submitted="currentlyLoading = true; $flow.upload()"
        flow-file-success="assignFile($file.uniqueIdentifier, $file.getExtension())" 
        flow-upload-started="filesUploading=true" 
        flow-complete="filesUploading=false"> 

<div class="col-xs-12">

<div class="col-xs-12">

    <div class="spacer"></div>
    <div class="row">
        <div class="col-xs-12">
            <a ui-sref="cbh.projects.list">
                <h2 class="nexa blue"><small><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Back to project list</small></h2>
            </a>
        </div>
    </div>
    <div class="spacer"></div>
</div>


<tabset class="col-xs-12" >
    <tab heading="Add {{proj.project_type.show_compounds == true ? 'compounds' : 'items' }} to {{proj.name}}">
        <div class="row" ng-hide="dataReady">
         <div class="col-sm-6">
            <div class="row">
                
                <label  for="file_input" class="blue"><strong class="nexa">Drag and drop your files here</strong></label>
                <a class="btn btn-default" ng-href="{{proj.custom_field_config.resource_uri}}/?format=xlsx">Download an XLSX template</a>
                <info-box style="margin-top:-5px; margin-right:5px" right="true" lookup="file_upload_help_text" lookupitems="cbh.messages"></info-box>
            </div>
             <div flow-drop flow-drag-enter="style={border:'4px dashed green', padding: '10px'}" flow-drag-leave="style={border:'4px dashed #ddd', padding: '10px'}" ng-style="style={border:'4px dashed #ddd', padding: '10px'}" class="col-sm-9 col-lg-10" style="min-height:50px">
                <div   ng-repeat="file in $flow.files" style="margin-bottom:0px; min-height:40px">
                    <!-- <td>{{$index+1}}</td> -->
                    {{file.name | limitTo : 40}}
                
                </div>
                
                <div style="margin-bottom:0px; min-height:40px" ng-show="$flow.files.length == 0">
                    No files uploaded
                

                </div>
                <div ng-if="(datasets[current_dataset_id].config.type==='file')" class="alert alert-danger" ng-repeat="error in datasets[current_dataset_id].config.errors">
                    {{error}}
                </div>
                <div ng-if="(datasets[current_dataset_id].config.type==='file') && datasets[current_dataset_id].config.errors.length > 0" class="alert alert-primary">
                    If you would like more information about why this file may be erroring, please contact <a href="mailto:{{skinConfig.data_manager_email || 'adam.hendry@chembiohub.ox.ac.uk'}}?subject=ChemBioHub%20ChemiReg%20file%20upload%20problem" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> {{skinConfig.data_manager_name || 'Adam Hendry'}} </a>. Please remember to include the file or files you are experiencing difficulty with.
                </div>

                </div>
                <div class="col-sm-3 col-lg-2">
                    <span flow-btn name="file_input" role="btn" class="btn btn-primary btn-sm pull-right nexa" ng-show="$flow.files.length < 1">Upload</span>
                    <a ng-show="$flow.files.length > 0" ng-click="file.cancel(); cancelFile(); $flow.files=[];"   class="btn btn-sm btn-danger pull-right" role="btn">Remove</a>
                </div>
           
                </div>
                <div class ="col-sm-6" ng-show="skinConfig.enable_smiles_input" >
            <div class="row">

                    
                    <label for="text_input" class="blue text-center"><strong class="nexa">Paste your SMILES or Standard InChIs here</strong></label>
                    <info-box right="true" lookup="smiles_field" lookupitems="cbh.messages"></info-box>
                </div>
                <div class="form-group col-sm-9 col-lg-10">
                    
                    <div ui-ace   ng-model="inputData.inputstring" class="form-control" style="height:70px"></div>
                    <div ng-if="(datasets[current_dataset_id].config.type==='smilesdata')" class="alert alert-danger" ng-repeat="error in datasets[current_dataset_id].config.errors">
                    {{error}}
                </div>
                </div>
                <div class="form-group col-sm-3 col-lg-2">
                    <button ng-click="processSmilesData()" class="btn btn-sm btn-primary pull-right">Process</button>
                </div>
                <div class="row" data-ng-show="format_not_detected">
                    <div class="alert alert-danger" id="format_not_detected">{{messages.format_not_detected}}</div>
                </div>
            </div>
        </div>
<div ng-if="dataReady"><div class="row">
    <a role="button" class="pull-right btn btn-default" ng-click="toggleDataSummary.showFlag = !toggleDataSummary.showFlag"><span ng-show="!toggleDataSummary.showFlag"><span class="glyphicon glyphicon-plus-sign"></span> Show Data Summary</span><span ng-show="toggleDataSummary.showFlag"><span class="glyphicon glyphicon-minus-sign"></span> Hide Data Summary</span></a> 
    <h2 class="nexa blue"><span class="glyphicon glyphicon-list"></span>&nbsp;Data summary </h2> 

    
<div class="col-xs-12" ng-include="'views/templates/validation_table.html'">
</div>
<div class="row">
    <div class="col-xs-12">
            <div class="alert alert-info text-center">
                <div class="pull-right" style="margin-top:-6px;">
                    <button ng-click="cancelFile()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Start again</button>
                    <button ng-show="stateName == 'cbh.projects.project.addcompounds'" ng-hide="compoundBatches.savestats.newbatches == 0"  ng-click="saveTemporaryCompoundData()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save these records
                    </button>
                    <button ng-show="stateName == 'cbh.projects.project.addcompounds'" disabled ng-hide="compoundBatches.savestats.newbatches > 0" ng-click="saveTemporaryCompoundData()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save these records
                    </button>
                    
                </div>
                   
                <div>
                    <strong class="nexa"><ng-pluralize count="compoundBatches.savestats.newbatches"
                            when="{'0': '0 new batches',
                             'one': '1 new batch',
                              'other': '{} new batches'}"></ng-pluralize> will be saved to the database and <ng-pluralize count="compoundBatches.savestats.ignoring"
                            when="{'0': '0 batches',
                             'one': '1 batch',
                              'other': '{} new batches'}"></ng-pluralize> will be ignored.
                    </strong>
                </div>
                <!-- Add a statement here if there are no records selected to upload explaining why save button disabled -->
                <div ng-hide="compoundBatches.savestats.newbatches > 0">
                    <strong class="nexa">
                        You must select at least 1 record as New Batch to be able to click Save.
                    </strong>
                </div>
            </div>

    </div>
</div>

</div>
<div class="row">
<h2 class="nexa blue"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit and save your data below</h2>
<div class="col-xs-12" ng-include="'views/compound-list-new.html'">
</div>
</div>
    </div>

    </tab>

  </tabset>
  </div>

</div>





  

