

<div class="row">
    <div class="col-xs-3 " ng-include="'views/templates/validation.html'"></div>
    <div class="col-xs-9 " flow-init="flowinit"
        flow-name="filedata.flow"
        flow-files-submitted="$flow.upload()"
        flow-file-success="assignFile($file.uniqueIdentifier, $file.getExtension())" 
        flow-upload-started="filesUploading=true" 
        flow-complete="filesUploading=false">
        <form name="inputForm">
        <!-- Paste list here -->

        <!-- File upload here -->
            <div  class="col-sm-12">
                <div class="col-sm-8" flow-drop flow-drag-enter="style={border:'4px dashed green', padding: '10px'}" flow-drag-leave="style={border:'4px dashed #ddd', padding: '10px'}" ng-style="style={border:'4px dashed #ddd', padding: '10px'}">
                    <label for="file_input" class="blue text-center"><strong class="nexa">Drag and drop your SD, Chemdraw or Excel files here.</strong></label>
                    <!-- <input name="file_input" type="file" flow-btn /> -->


                    
                    <div class="row">
                        <div class="col-xs-4">
                            <span flow-btn name="file_input" role="btn" class="btn btn-primary align-center" ng-disabled="$flow.files.length > 0">Click to Upload</span> 
                        </div>
                         <div class="col-xs-8">
                                <div class=" well" ng-repeat="file in $flow.files" style="margin-bottom:0px; min-height:40px">
                                    <!-- <td>{{$index+1}}</td> -->
                                    {{file.name}}
                                <a ng-click="file.cancel();startAgain()"   class="btn btn-sm btn-danger pull-right" role="btn">Remove</a>
                                </div>
                                
                                <div class="well" style="margin-bottom:0px; min-height:40px" ng-show="$flow.files.length == 0">
                                    No files uploaded
                                </div>
                          
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-sm-4">
                   
                </div>

            </div>
        </form>

    </div>

</div>