<div class="container-fluid mt">
	<div class="col-xs-12">
		<div class="row">
			<h2 class="blue">Add Plate <br><small>Add a new plate map with empty wells. To see a list of plate maps for this project, click here</small> <a ui-sref="cbh.projects.project.listplates({projectKey: projectKey})" class="btn btn-primary" role="button">Show Plates</a></h2>
				
				<!-- New plate form -->
				<div class="container-flex">
					<div ng-if="errormess" class="col-xs-12">
		                    <div class="col-xs-12 has-error">
		                        <div class="help-block ">{{errormess}}</div>
		                    </div>
		                </div>
					<form novalidate name="inputForm" role="form"  style="width:95%; display: table; margin: 0 auto;" >
    					
						<div class="row" sf-schema="projectObj.schemaform.schema" sf-form="projectObj.schemaform.form" sf-model="newPlateForm">

						</div>

						<div class="row">
							<div class="col pull-right">
								<button class="btn btn-danger" ng-click="clearForm(inputForm)">Clear Form</button>
								<button class="btn btn-success" ng-click="setupNewPlateFromForm(inputForm)">Create New Plate</button>
							</div>
						</div>

					</form>


					<!-- Show plate template when form complete -->
					<div class="row" ng-if="showPlate">
						<h2 class="blue">Assign Wells <br><small>Click a well to show assigning options. Red is the currently selected well. Green wells have data associated which you can edit.</small></h2>
						<!-- <div ng-include="'views/templates/plate-map-template.html'" ng-init="plateForm = newPlateForm;"></div> -->
						<platemap plate="newPlateForm" sfh="schemaFormHolder" cbh="cbh" save-plate-function="saveWholePlate()"></platemap>
					</div>
				</div>
				

				





		</div>
	</div>
</div>