<div flow-init="flowinit"
    flow-name="dpclassif.filedata.flow"
    flow-files-submitted="$flow.upload()"
    flow-file-success="dpclassif.getSheetsForFile($file.uniqueIdentifier)" 
    flow-upload-started="dpclassif.filesUploading=true" 
    flow-complete="dpclassif.filesUploading=false"> 

<div class="row">
<div class="col-sm-6 col-xs-offset-2">
<div class="row">
    
    <div class="col-xs-12">
    	<label for="file_input" class="blue"><strong class="nexa">Drag and drop your files here or click Upload to browse for a file</strong></label>
        <info-box style="margin-top:-5px; margin-right:5px" right="true" lookup="assay_file_upload_help_text" lookupitems="cbh.messages"></info-box>
        <div flow-drop flow-drag-enter="style={border:'4px dashed green', padding: '10px'}" flow-drag-leave="style={border:'4px dashed #ddd', padding: '10px'}" ng-style="style={border:'4px dashed #ddd', padding: '10px'}" class="col-sm-9 col-lg-10" style="min-height:50px">
		    <div ng-repeat="file in $flow.files" style="margin-bottom:0px; min-height:40px">
		        <!-- <td>{{$index+1}}</td> -->
		        {{file.name | limitTo : 40}}

		    
		    </div>
		    
		    <div style="margin-bottom:0px; min-height:40px" ng-show="$flow.files.length == 0">
		        No files uploaded
		    </div>
		    <div ng-if="(datasets[current_dataset_id].config.type==='file')" class="alert alert-danger" ng-repeat="error in datasets[current_dataset_id].config.errors">
		        {{error}}
		    </div>
	    </div>
    </div>
</div>
 
    <div class="row">
    	<div class="col-xs-12 pull-right">
    		<div class="btn-group">
	            <span flow-btn name="file_input" role="btn" class="btn btn-primary btn-sm pull-right nexa" ng-show="$flow.files.length < 1">Upload</span>
	            <a ng-show="$flow.files.length > 0" ng-click="file.cancel(); cancelFile(); $flow.files=[]; dpclassif.cancelFile();" class="btn btn-sm btn-danger pull-right" role="button">Remove</a>
	            <a ng-click="file.cancel(); cancelFile(); $flow.files=[]; dpclassif.cancelFile(); dpclassif.addingMultiple = false;" class="btn btn-sm btn-danger pull-right" role="button">Cancel</a>
	        </div>
        </div>
    </div>

    </div>
</div>

<!-- Select sheet -->

<div class="row" ng-show="dpclassif.uploadData.uploaded">
	<!-- <div class="col-xs-12">
				<label class="control-label">Select sheet containing your upload data:</label>
				<select class="form-control" ng-options="sheet.name for sheet in dpclassif.uploadData.sheetNames" ng-model="dpclassif.uploadData.sheetName" ng-change="dpclassif.specifySheet()">
				</select>

			</div>
	</div>	 -->
    <label for="tabs" class="blue"><strong class="nexa">Select the tab corresponding to the required sheet from your spreadsheet.</strong><info-box lookup="assay_file_use_template" lookupitems="cbh.messages" right="true"></info-box></label>
    <tabset>
        
        <tab ng-repeat="sheet in dpclassif.uploadData.sheets" select="sheet.specifySheet()">
            <tab-heading>{{sheet.name}}</tab-heading>
            
            <div class="row" ng-if="sheet.metadata.resource_uri">
            	<div class="col-xs-12">
	            	<div class="pull-left">
                        <div ng-if="dataoverviewctrl.listOfUnmappedFields.length > 0" class="alert-warning"><small>There are unmapped fields in your file</small></div>
                        <div ng-if="dataoverviewctrl.listOfUnmappedFields.length == 0" class="alert-success"><small>All fields mapped</small></div>
                    </div>
                    <div class="pull-right">
	            		<a ng-click="file.cancel(); cancelFile(); $flow.files=[]; dpclassif.cancelFile(); dpclassif.addingMultiple = false;" role="button" class="btn btn-danger">Cancel</a>
	            		<a ng-click="sheet.saveSheet(sheet.metadata.id)" role="button" class="btn btn-primary">Save this sheet</a>
	            		
	            	</div>
	            </div>
            </div>

             <div class="row" ng-if="sheet.metadata.resource_uri" eui-index="'cbh_attachments__' + sheet.metadata.id"   eui-sort="ejs.Sort('id').order('asc')" eui-enabled="true" style="margin:5px 5px 0;">
                
             	<!-- Table goes here -->
             	<table class="table table-striped">
                            
                            <thead>
                                <tr>
                                    <!-- <th ng-repeat="bottomlevelfield in dpclassif.next_level_cfc.project_data_fields"> -->
                                    <!-- <th ng-repeat="(key, value) in indexVM.results.hits.hits[0]._source.attachment_data.project_data"> -->
                                    <th class="text-center" ng-repeat="item in sheet.metadata.attachment_custom_field_config.project_data_fields track by item.position">

                                        <small>
                                            {{ item.elasticsearch_fieldname | removeSpaces }}
                                        </small><br>
                                        <!-- {{sheet.metadata.attachment_custom_field_config}} -->
                                        <button class="tableFilter btn btn-default" ng-click="dataoverviewctrl.showMappingPopup(sheet.metadata.titleMap, item)"><span class="glyphicon glyphicon-random" ng-class="{'text-success': item.attachment_field_mapped_to_id, 'text-warning': !item.attachment_field_mapped_to_id}"></span></button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="childItem in indexVM.results.hits.hits" >
                                    
                                    <td class="text-center" style="line-height:0.9 !important;" ng-repeat="field in dpclassif.next_level_cfc.project_data_fields" >
                                        <small ng-show="childItem.highlight[dpclassif.next_level + '.project_data.' + field.elasticsearch_fieldname]">
                                            <span ng-bind-html="childItem.highlight[dpclassif.next_level + '.attachment_data.project_data.' + field.elasticsearch_fieldname][0]"></span>
                                        </small>
                                        <small ng-hide="childItem.highlight[dpclassif.next_level + '.project_data.' + field.elasticsearch_fieldname]">
                                            {{childItem._source.attachment_data.project_data[field.elasticsearch_fieldname] | limitTo:100}}
                                        </small>
                                    </td>
                                </tr>
                                <tr ng-if="indexVM.results.hits.hits.length == 0" class="text-center"><td colspan="{{(1+ dpclassif.next_level_cfc.project_data_fields.length)}}" class="text-center">No results</td></tr>
                                    
                            </tbody>
                            

                        </table>

                        <div class="text-center">
                            

                            <ul class="pager">

                                <li>{{indexVM.results.hits.total}} records </li>
                                <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=1">First</a></li>
                                <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=indexVM.page - 1">Previous</a></li>
                                <li>Page {{indexVM.page}} of {{indexVM.pageCount}}</li>
                                <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.page + 1">Next</a></li>
                                <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.pageCount">Last</a></li>
                                <li>
                                    <select ng-model="indexVM.pageSize">
                                        <option ng-repeat="item in [5, 10, 20]">{{item}}</option>
                                    </select>
                                    per page
                                </li>
                            </ul>
                        </div>

                <!-- <div ng-repeat="childItem in indexVM.results.hits.hits">
                    {{childItem}}
                </div> -->
            </div>
        </tab>
    </tabset>
</div>
</div>




<!-- Preview data -->

<div class="row"></div>
