<div flow-init="flowinit"
    flow-name="filedata.flow"
    flow-files-submitted="currentlyLoading = true; $flow.upload()"
    flow-file-success="getSheetsForFile($file.uniqueIdentifier)" 
    flow-upload-started="filesUploading=true" 
    flow-complete="filesUploading=false"> 

<div class="row">
<div class="col-sm-6 col-xs-offset-2">
<div class="row">
    
    <div class="col-xs-12">
    	<label for="file_input" class="blue"><strong class="nexa">Drag and drop your files here or click Upload to browse for a file</strong></label>
        <info-box style="margin-top:-5px; margin-right:5px" right="true" lookup="assay_file_upload_help_text" lookupitems="cbh.messages"></info-box>
        <div flow-drop flow-drag-enter="style={border:'4px dashed green', padding: '10px'}" flow-drag-leave="style={border:'4px dashed #ddd', padding: '10px'}" ng-style="style={border:'4px dashed #ddd', padding: '10px'}" class="col-sm-9 col-lg-10" style="min-height:50px">
		    <div ng-repeat="file in $flow.files" style="margin-bottom:0px; min-height:40px">
		        <!-- <td>{{$index+1}}</td> -->
		        {{file.name | limitTo : 40}}

		    
		    </div>
		    
		    <div style="margin-bottom:0px; min-height:40px" ng-show="$flow.files.length == 0">
		        No files uploaded
		    </div>
		    <div ng-if="(datasets[current_dataset_id].config.type==='file')" class="alert alert-danger" ng-repeat="error in datasets[current_dataset_id].config.errors">
		        {{error}}
		    </div>
	    </div>
    </div>
</div>
 
    <div class="row"><div class="col-xs-12 pull-right">
            <span flow-btn name="file_input" role="btn" class="btn btn-primary btn-sm pull-right nexa" ng-show="$flow.files.length < 1">Upload</span>
            <a ng-show="$flow.files.length > 0" ng-click="file.cancel(); cancelFile(); $flow.files=[];"   class="btn btn-sm btn-danger pull-right" role="btn">Remove</a>
        </div></div>

    </div>
</div>
</div>

<!-- Select sheet -->

<div class="row" ng-show="dataReady">
	<div class="col-xs-12">
		<div class="form-group">
				<label class="control-label">Select sheet containing your upload data:</label>
				<select class="form-control" ng-options="sheet.name for sheet in uploadData.sheetNames" ng-model="uploadData.sheetName">
				</select>

			</div>
	</div>	
</div>


<!-- Preview data -->

<div class="row"></div>
