<div ng-class="(stateName=='cbh.projects.project.addcompounds') ? 'container-flex' : 'container'">
<div ng-if="!noData" class="row">
    <div class="col-xs-12">
        <h2 class="blue"> 
            <ng-pluralize count="totalCompoundBatches"
            when="{'0': '0 ' + cbh.skinning.result_alias + 's',
             'one': '1 ' + cbh.skinning.result_alias,
              'other': '{} ' + cbh.skinning.result_alias + 's'}">
            </ng-pluralize>
            <span ng-if="warningsFilter"> (filtered)</span>
        </h2>
    </div>
</div>
<div ng-if="noData">
<h2 class="blue nexa">
            <small>{{noData}}</small>
        </h2>
</div>
<a id="search-bottom"></a>
<div ng-if="!noData"  ng-init="dropclass = 'dropdown'" ng-include="'views/templates/pagingbar.html'"></div>
<div class="spacer"></div>

<div class="row" >
    <div class ="col-xs-12">

        <div ng-if="listOrGallery.choice == 'list'">
            <div ng-show="(changesToUndo.length > 0)" >
                <div class="alert alert-warning text-center">
                    <ng-pluralize count="changesToUndo.length"
                 when="{'0': '',
                     'one': '1 item updated.',
                     'other': '{} items updated.'}">
</ng-pluralize> <button class="btn  btn-danger pull-right" ng-click="undoChanges()"><span class="glyphicon glyphicon-thumbs-down"></span> Undo</button>
</div>
                <div class="spacer"></div>
            </div>
            
            <div id="myhot">
                <handsoncompoundtable  uncurated-headers="compoundBatches.uncuratedHeaders" sorts="compoundBatches.sorts"  cbh="cbh" compounds="compoundBatches.data", excluded="compoundBatches.excluded" warnings-filter="warningsFilter" redraw="compoundBatches.redraw" columns="compoundBatches.columns" searchform-schema="searchFormSchema" search-form="searchForm" show-blanks="compoundBatches.showBlanks" show-non-blanks="compoundBatches.showNonBlanks" messages="messages" plugins="pluginColumns.objects"></handsoncompoundtable>
            </div>
            <div style="min-height:500px;" ng-show="noData" class="text-center"><img ng-show="!noData" src="images/loader.gif"></div>

            <table ng-show="">
                <tr dir-paginate="compoundBatch in compoundBatches.data | itemsPerPage: pagination.compoundBatchesPerPage.value" total-items="totalCompoundBatches" current-page="pagination.current">

                    <td>{{ compoundBatch }}</td>
                </tr>
            </table>
        </div>
        <div ng-if="listOrGallery.choice == 'gallery'">
            <div class="row">
                <div class="col-xs-4 col-sm-2 col16-lg-2" dir-paginate="compoundBatch in compoundBatches.data | itemsPerPage: pagination.compoundBatchesPerPage.value" total-items="totalCompoundBatches" current-page="pagination.current">
                    <div class="text-center gallery-item" ng-click="cbh.openSingleMol(compoundBatch)" >
                        <img src="{{compoundBatch.properties.imageSrc}}" style="cursor: pointer;" >
                        <p class="nexa"><small>{{compoundBatch.chemblId}}</small></p>
                    </div>
                </div>
            </div>
        </div> 
    </div>

</div>
<div class="spacer"></div>

<div ng-if="!noData" ng-init="dropclass = 'dropup'" ng-include="'views/templates/pagingbar.html'" ></div>

</div>
