<div>
<div ng-class="container-flex ">
<div  class="row">
    <div class="col-xs-12">
        <h2 class="subheading"> 
            <ng-pluralize count="totalCompoundBatches"
            when="{'0': '0 ' + cbh.skinning.result_alias + 's',
             'one': '1 ' + cbh.skinning.result_alias,
              'other': '{} ' + cbh.skinning.result_alias + 's'}">
            </ng-pluralize>
            <span ng-if="warningsFilter"> (filtered)</span>
            <span ng-if="noData">&nbsp; &nbsp; - &nbsp; &nbsp;{{noData}}</span>
            <button class="btn btn-danger " ng-if="cbh.searchForm.archived=='true'" ng-click="cbh.searchForm.archived='false';">Exit Archive Mode</button>
        </h2>
    </div>
</div>

<a id="search-bottom"></a>
<div  ng-init="dropclass = 'dropdown'" ng-include="'views/templates/pagingbar.html'"></div>
<div class="spacer"></div>
<div ng-if="noData">

</div>
<div class="row" >
    <div class ="col-xs-12">

        <div ng-if="listOrGallery.choice == 'list'">
            <div ng-show="(cbh.changesToUndo.length > 0)" >
                <div class="alert alert-warning text-center">
                    <ng-pluralize count="cbh.changesToUndo.length"
                 when="{'0': '',
                     'one': '1 item updated.',
                     'other': '{} items updated.'}">
</ng-pluralize> <button class="btn  btn-danger pull-right" ng-click="undoChanges()"><span class="glyphicon glyphicon-thumbs-down"></span> Undo</button>
</div>
                <div class="spacer"></div>
            </div>
            
            <div  ng-if="addingData && cbh.projAddingTo.project_type.show_compounds == false">
                <div class="col-xs-12">
                <h2 class="blue"><small><span class="glyphicon glyphicon-plus"></span>Adding {{cbh.projAddingTo.project_type.show_compounds == true ? 'compounds' : 'items' }} to {{cbh.projAddingTo.name}} </small></h2>
            </div>
            <div ng-repeat="form in formChunks" class="col-xs-12 col-sm-4">
                <div  class=" form-group" sf-schema="myschema" sf-form="form" sf-model="newMol.customFields"></div>
                <div class="spacer"></div>
                
            </div>
            <div class="row"><div class="col-xs-12">
                <div class="pull-right" >
                                                <button ng-click="blankForm(true);" class="btn btn-primary"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Close</button>
                                                <button ng-click="blankForm()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Clear Form</button>
                                                <button  ng-click="saveSingleCompound(true)" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Save
                                                </button>
                                                <button  ng-click="saveSingleCompound()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Save and add another
                                                </button>
                                            </div></div>
                                </div>

        </div>
            
            <div id="myhot" style="margin-top:5px;" ng-if="compoundBatches">
            	<div class="hot-loading text-center">
            		<!-- <div class="cssload-container">
						<div class="cssload-speeding-wheel"></div>
						<span>loading...</span>
					</div> -->
					<img src="images/ring.gif" style="margin-top:100px;">
            	</div>
                <handsoncompoundtablev2  uncurated-headers="compoundBatches.uncuratedHeaders" sorts="compoundBatches.sorts"  cbh="cbh" compounds="compoundBatches.data", excluded="compoundBatches.excluded" warnings-filter="warningsFilter" redraw="compoundBatches.redraw" columns="compoundBatches.tabular_data_schema" searchform-schema="searchFormSchema" search-form="searchForm" show-blanks="compoundBatches.showBlanks" show-non-blanks="compoundBatches.showNonBlanks" messages="messages"  column="column"></handsoncompoundtablev2>

            </div>

            <table ng-show="">
                <tr dir-paginate="compoundBatch in compoundBatches.data | itemsPerPage: pagination.compoundBatchesPerPage.value" total-items="totalCompoundBatches" current-page="pagination.current">

                    <td>{{ compoundBatch }}</td>
                </tr>
            </table>
        </div>
        <div ng-if="listOrGallery.choice == 'gallery'">
            <div class="row">
                <div class="col-xs-4 col-sm-2 col16-lg-2" dir-paginate="compoundBatch in compoundBatches.data | itemsPerPage: pagination.compoundBatchesPerPage.value" total-items="totalCompoundBatches" current-page="pagination.current">
                    <div class="text-center gallery-item" ng-click="cbh.openSingleMol(compoundBatch)" >
                        <img src="data:image/png;base64,{{compoundBatch.image}}" style="cursor: pointer;" >
                        <p class="nexa"><small>{{compoundBatch.chemblId}}</small></p>
                    </div>
                </div>
            </div>
        </div> 
    </div>

</div>


</div>

<!-- <div style="min-height:500px;" class="text-center"></div>
</div> -->