<div class="container" >


	<div class="row mt">
		<div class="col-xs-12">
			<div class="form-group pull-right">
				<button type='submit' class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New</button>
			</div>
			<h2 class="blue"><span class="glyphicon glyphicon-plus-sign"></span> View Studies</h2>
		</div>
	</div>
<div class="row">
		<div  ng-repeat="form in assayctrl.projectData.objects[2].enabled_forms">
			<div  class="row" ng-if="$first">
				<div class="col-xs-6 bg-success" style="border: 1px solid #444; padding:10px; border-radius:5px; margin-bottom:20px;" >
					<div ng-repeat="level in ['l0']" class="col-xs-2">
						<!-- show only the first item as all l0 should be the same-->
						<div  >
							<small>{{form[level].data_type.name}}</small>
							<br>
							<strong class="nexa">{{form[level].name}}</strong>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>




	<div class="row">
		<div  ng-repeat="form in assayctrl.proj.enabled_forms">
			<div  class="row" eui-index="'cbh_queries'" eui-filter="ejs.BoolFilter().must(ejs.TermFilter('data_form_config.raw' , form.resource_uri))" eui-enabled="true" >
				<div class="col-xs-12 bg-info" style="border: 1px solid #444; padding:10px; border-radius:5px; margin-bottom:20px;" >
					<div ng-repeat="level in ['l1', 'l2', 'l3']" class="col-xs-3">
						<div eui-aggregation="ejs.FilterAggregation('dfc_' + form.id + '_' + level).filter(ejs.TermFilter('level_from.raw' , level))">
							<br>
							

							 <div class="report text-center">
<!-- 						         	<info-box left="true" lookup="batch_overlaps"  lookupitems="cbh.messages"></info-box></div>
 -->						          <div class="report-type"><!-- <small>{{form[level].data_type.name}}</small> -->
 										<strong class="nexa">{{form[level].name}}</strong>
 										{{form.id}}
 									</div>
						          <div class="report-value ">
						          	<strong class="nexa">{{aggResult.doc_count}}</strong>
						          </div>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<button class="btn btn-lg btn-default" ui-sref="cbh.projects.project.assay.view_data({'dc':form.id })">View Data >></button>
				</div>
				
			</div>
		</div>
	</div>
</div>


	<div class="row mt">
		<div class="col-xs-12">
			<div class="form-group pull-right">
				<button type='submit' class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New</button>
			</div>
		</div>
	</div>


	
</div>
<!-- ejs.FilterAggregation(bucket.key).filter(ejs.TermFilter('data_form_config.id' , bucket.key)) -->