<div class="col-xs-12" >

	<div class="row">
		<div class="col-xs-12">
			<a ui-sref="cbh.projects.list">
	        	<h2 class="nexa blue"><small><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Back to project list</small></h2>
	        </a>
	    </div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<!-- <div class="form-group pull-right">
				<button type='submit' class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New</button>
			</div> -->
			<h2 class="blue"><span class="glyphicon glyphicon-list"></span> View Studies</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div  ng-repeat="form in assayctrl.proj.enabled_forms">
				<div  class="row" ng-if="$first">
					<div class="col-xs-6 bg-success" style="border: 1px solid #444; padding:10px; border-radius:5px; margin-bottom:20px;" >
						<div class="pull-right button-group">				
							<button class="btn btn-sm btn-primary" ng-click="dataoverviewctrl.openDetail(hit._source['l1'].project_data)"><span class="glyphicon glyphicon-list"></span> View Details</button>
							<button class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add {{form['l1'].data_type.name}}</button>
						</div>
						<!-- show only the first item as all l0 should be the same-->
						<div>
							<small>{{form['l0'].data_type.name}}</small>
							<br>
							<strong class="nexa">{{form['l0'].name}}</strong>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class ="row">
		<div class="col-xs-12">
			<div ng-repeat="dpclassif in dataoverviewctrl.l0_object.children" ng-include="'views/templates/overview-drilldown.html'">
			</div>
		</div>
	</div>	
</div>
<!-- ejs.FilterAggregation(bucket.key).filter(ejs.TermFilter('data_form_config.id' , bucket.key)) -->