<div class="row">
	<div class="alert alert-info">
		<p><strong>Add your compounds to be registered. </strong><br/>Paste a list of SMILES, Standard InChis</p>
	</div>
</div>

<!-- TODO - implement better l&f to file upload result - alert to say it's completed etc? Should be examples in flowjs docs -->


<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="text_input" class="blue text-center"><strong class="nexa">Paste your SMILES or IDs here</strong></label>
			<textarea id="text_input" name="text_input" ng-change="parseInput()" class="form-control" rows="5" ng-model="input_string.inputstring" ng-model-options="{ debounce:700 }"></textarea>
		</div>
	</div>
	<div class="col-sm-6">
		<label for="file_input" class="blue text-center"><strong class="nexa">Select which type of Ids you have:</strong></label>
		<div class="form-group">
		<select ng-options="dt for dt in input_string.dataTypes" class="form-control" ng-model="input_string.dataTypeSelected"></select>
		</div>
		<!-- <div ng-show="input_string.dataTypeSelected=='Auto-detect' && input_string.splitted.type != 'unknown'" class="alert alert-info">
			<p><strong>[][]type detected].</p>
		</div> -->
	</div>
</div>
<div class="row">
	<div>
		<a class="btn btn-primary pull-right" role="button" ui-sref="demo.map.multiple" ng-click="processInput()">Process Ids</a> <!--ui-sref="demo.map"-->
	</div>
</div>
<div class="row">
	<div class="alert alert-info">
		<p><strong>...alternatively upload SD or Excel file.</p>
	</div>
</div>

<div class="row">
	<form name="inputForm">
	<!-- Paste list here -->

	<!-- File upload here -->
	<div class="col-sm-12">
		<div class="col-sm-6">
			<label for="file_input" class="blue text-center"><strong class="nexa">Upload your SD or Excel files here</strong></label>
			<!-- <input name="file_input" type="file" flow-btn /> -->
			<div class="row">
				<div class="col-xs-12">
					<span flow-btn name="file_input" role="btn" class="btn btn-primary align-center" ng-disabled="$flow.files.length > 0">Upload File</span> 
				</div>
			</div>
			<!-- <input type="file" flow-btn flow-directory />
			  Input OR Other element as upload button
			<span flow-btn>Upload File</span> -->
			<div class="row mt">
				<div class="col-xs-12" ng-hide="$flow.files.length > 0">
					<div flow-drop flow-drag-enter="style={border:'4px dashed green', padding: '20px'}" flow-drag-leave="style={border:'4px dashed #ddd', padding: '20px'}" ng-style="style={border:'4px dashed #ddd', padding: '20px'}">
					    <strong class="nexa blue">Or Drag And Drop your file here</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="col-xs-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th colspan="2"><strong class="nexa blue">Files added</strong></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="file in $flow.files">
					        <!-- <td>{{$index+1}}</td> -->
					        <td>{{file.name}}</td>
					        <td class="text-center"><a ng-click="file.cancel()" class="btn btn-sm btn-danger" role="btn">Remove</a></td>
					    </tr>
					    <tr ng-show="$flow.files.length == 0">
					    	<td colspan="2">No files uploaded</td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	
</div>
<div class="row">
	<div>
		<a role="button" class="btn btn-danger" ng-click="startAgain()" ui-sref="demo.intro">Cancel</a>
		<a class="btn btn-primary pull-right" role="button" ui-sref="demo.map.file" ng-click="parseHeaders()">Process File</a>
	</div>
</div>