<div class="row">
	
	<div class="container">
		<div class="row">
			<div class="alert alert-info">
				<p><strong>Map the fields in your SD file to those in the registration system. </strong><br/>Known fields have already been mapped, other fields that you would like displayed should be dragged to the 'other' section.<br/>You can map multiple fields to one column header</p>
			</div>
		</div>
		<div class="row">

			<div class="col-lg-3 col-md-3">

				<div class="row" ng-repeat="list in dragmodels.lists">
					<div class="col-xs-12">
						<p class="nexa blue">Unmapped column headers</p>
						<ul class="list-unstyled dimensions-list" dnd-list="list">
							
							<li class="dimension alert-success" style="cursor:pointer; padding:10px;"
							ng-repeat="item in list"
					        dnd-draggable="item"
					        dnd-moved="list.splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="dragmodels.selected = item"
					        ng-class="{'selected': dragmodels.selected === item}"><div>{{item.label}}</div></li>
						</ul>
					</div>
				</div>
				

			</div>

			<div class="col-lg-9 col-md-9">
				<div class="row" ng-repeat="(listName, list) in dropmodels.lists">
					<div class="col-xs-2">
						<p class="nexa blue">{{listName}}</p>
					</div>
					<div class="col-xs-10">
						<ul class="dimensions-container list-unstyled well" dnd-list="list" style="min-height:100px;">
							<li class="dimension draggable alert-success" style="cursor:pointer; padding:10px;"
							ng-repeat="item in list"
					        dnd-draggable="item"
					        dnd-moved="list.splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="dropmodels.selected = item"
					        ng-class="{'selected': dropmodels.selected === item}"><div>{{item.label}}</div></li>
						</ul>
					</div>
				</div>
				
					
				

			</div>

		</div>	
	</div>
</div>
<div>
	<a class="btn btn-primary pull-left" role="button" ui-sref="demo.add">Back</a>
	<a class="btn btn-primary pull-right" role="button" ui-sref="demo.validate">Next</a>
	<!-- <a class="btn btn-danger" ng-click="addAlert()">Add Alert</a> -->
</div>
