<!-- <div class="row">
    <div class="alert alert-info">
        <p><strong>Compound structure validation. </strong><br/>Compound Structures have been validated as shown below, where a change has been made a warning is displayed.</p>
    </div>
</div>
 -->
<!-- <div class="row" ng-show="validatedData.length > 0">
<div class="col-xs-1"/>

<div class="col-xs-2"  ng-repeat="stage in validatedData[0]">
            <h2><small>{{stage.name}} </small></h2>
</div>
</div> -->
{{validatedData}}
<div class="row" ng-repeat="val in validatedData.objects | filter: {hasChanged : true}">
<div class="col-xs-2" style="min-height:180px; " >
  {{val}}
         <chemsvg size="100" smiles="val.smiles" base-url="'/utils/smiles2svg/'"></chemsvg>
        <!-- <span ng-hide="$first || $last"> 
            <process-step start-smiles="val[$index -1].smiles" 
                end-smiles="stage.smiles" 
                name="stage.name" 
                status="stage.status">
            </process-step>  

        </span> -->
</div>
</div>
