<div>
	<p class="nexa blue">{{getMessage('wizard_intro_text')}}</p>
	<!-- <p class="text-center">
		<a ui-sref="projects.project.demo.add.single" class="btn btn-lg btn-success">Add Single Compound</a>
		<a ui-sref="projects.project.demo.add.multiple" class="btn btn-lg btn-success">Add Multiple Compounds</a>
	</p> -->
	<p class="centered">
	
		<div class="col-sm-6 entry-point centered">
			<a ui-sref="projects.project.demo.add.single">
				<div class="row hidden-xs">
					<div class="img-circle blue-bg">
						<span class="img-helper"></span>
						<img src="images/benzene.png" alt="add single"/>
					</div>
				</div>
				<div class="row">
					<div>
						<p class="nexa blue">Add Single Compound</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-sm-6 entry-point centered">
			<a ui-sref="projects.project.demo.add.multiple">
				<div class="row hidden-xs">
					<div class="img-circle blue-bg">
						<span class="img-helper"></span>
						<img src="images/addmultiple.png" alt="add multiple"/>
					</div>
				</div>
				<div class="row">
					<div>
						<p class="nexa blue">Add Multiple Compounds</p>
					</div>
				</div>
			</a>
		</div>

	</p>

</div>

