



    <div ng-hide="validatedData.total" class="row">
      <div class="row">
        <div class="alert alert-warning" id="fsdfsd">{{messages.oops}}</div>
      </div>
    </div>



<ng-include src="'views/templates/validation.html'"></ng-include>
<div class="row">
  <div class="pull-left">
    <a role="button" class="btn btn-danger" ng-click="startAgain($flow.files)" ui-sref="projects.project.demo.intro">Cancel</a>
  </div>
  <div class="row">
  <div ng-show="processingMultiBatch" class="col-centered bubblingG">
              <span id="bubblingG_1">
              </span>
              <span id="bubblingG_2">
              </span>
              <span id="bubblingG_3">
              </span>
  </div>
</div>
  <div class="pull-right">
    <input type="submit" class="btn btn-primary pull-right" id="submit"  ng-click="saveMultiBatchMolecules()" value="Save"  ng-disabled="!validatedData.total || validatedData.objects.errors.length > 0"/>
  </div>
      
</div>
