<div class="row">
	
	<div class="container">
		<div class="row" ng-show="(dragmodels.lists.length + dragmodels.lists.length) > 0">
			<div class="alert alert-info">
				<p><strong>Map the fields in your SD or excel file to those in the registration system. </strong><br/>Drag column fields from your file to the appropriate custom mapping, or leave undragged to create a new custom field with that name.<br/>To ignore columns and not add them to the database, drag these to the <strong>Ignore Columns</strong> box.<br/>Your file must contain at least one structural field - this can be SMILES, MOL data or InChi/InChi Key values.</p>
			</div>
		</div>
		<div ng-hide="(dragmodels.lists.length + dragmodels.lists.length) > 0" class="row">
			<div class="row" >
				<div class="alert alert-warning" id="fsdfsd">{{messages.oops}}</div>
			</div>
		</div>
		<div class="row" ng-show="(dragmodels.lists.length + dragmodels.lists.length) > 0">

			<div class="col-lg-3 col-sm-3">

				<div class="row" ng-repeat="list in dragmodels.lists">
					<div class="col-xs-12 centered">
						<p class="nexa blue"><span class="glyphicon glyphicon-list-alt"></span> Fields to create</p>
						
							<button class="btn btn-default" ng-click="automap()">Automap</button>
						
						<ul class="list-unstyled dimensions-list" dnd-list="list" style="min-height:60px;">
							
							<li class="dimension alert-success" 
							ng-repeat="item in list"
					        dnd-draggable="item"
					        dnd-moved="list.splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="dragmodels.selected = item"
					        ng-class="{'selected': dragmodels.selected === item}"><div>{{item.label}}</div></li>
						</ul>
					</div>
				</div>
				

			</div>

			<div class="col-lg-6 col-sm-6">
				<p class="nexa blue"><span class="glyphicon glyphicon-link"></span> Mapping Fields <info-box lookup="mapping_fields_help"></info-box></p>
				<div class="row" ng-show="isFileExcel()">
					<div class="col-xs-6">
						<p class="nexa blue">Structure Column</p>
					</div>
					<div class="col-xs-6">
						<select ng-options="item.value for item in struc_col_options track by item.name" class="form-control" ng-model="struc_col_selected" ng-change="updateStrucCol(struc_col_selected.value)">
						<!-- <option value="" selected>--Select Structure Column--</option> -->
						</select>
						<br>
					</div>
					
				</div>
				<div style="overflow-y:scroll; overflow-x:hidden; height:400px;">
					<div class="row" ng-repeat="value in dropmodels.lists">
						<div class="col-xs-6">
							<p class="nexa blue"> {{value.name}} 
								<span title="Required field for this project" ng-show="value.required" class='glyphicon glyphicon-star alert-danger'></span>

							</p>
						</div>
						<div class="col-xs-6">
							<ul class=" list-unstyled well dimensions-container" dnd-list="value.list" style="">
								<li class=" draggable alert-success dimension" style=""
								ng-repeat="item in value.list"
						        dnd-draggable="item"
						        dnd-moved="value.list.splice($index, 1)"
						        dnd-effect-allowed="move"
						        dnd-selected="dropmodels.selected = item"
						        ng-class="{'selected': dropmodels.selected === item}"><div>{{item.label}}</div></li>
							</ul>
						</div>
					</div>
				</div>
				

			</div>

			<div class="col-lg-3 col-sm-3">
				<div class="row" ng-repeat="list in binmodels.lists">
					<div class="col-xs-12">
						<p class="nexa blue"><span class="glyphicon glyphicon-trash"></span> Ignore Columns</p>
						<ul class="list-unstyled  well dimensions-container bin" style="" dnd-list="list">
							<li class="dimension draggable alert-success" style="cursor:pointer; padding:10px;"
							ng-repeat="item in list"
					        dnd-draggable="item"
					        dnd-moved="list.splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="binmodels.selected = item"
					        ng-class="{'selected': binmodels.selected === item}"><div>{{item.label}}</div></li>
						</ul>
					</div>
				</div>
			</div>

		</div>	
	</div>
</div>
<div class="row">
	<div class="pull-left">
		<a ui-sref="projects.project.demo.add.multiple"><button class="btn btn-primary pull-left" >Back</button></a>
	</div>
	<div class="pull-right">
		<a role="button" class="btn btn-danger" ng-click="startAgain($flow.files)" ui-sref="projects.project.demo.intro">Cancel</a>
		<a ng-click="resetMappingForm()"><button class="btn btn-primary" style="margin-right:5px;">Reset form</button></a>
		<a ui-sref="projects.project.demo.validate">
			<button class="btn btn-primary" ng-click="processFiles()" ng-show="isFileExcel()" ng-disabled="isStrucColUnspecified()  + (dragmodels.lists.length + dragmodels.lists.length) == 0">Next</button>
			<button class="btn btn-primary" ng-click="processFiles()" ng-hide="isFileExcel()" ng-disabled="(dragmodels.lists.length + dragmodels.lists.length) == 0">Next</button>
		</a>

	</div>
</div>
	<!-- <a class="btn btn-danger" ng-click="addAlert()">Add Alert</a> -->

