<div ng-hide="validatedData.total" class="row">
      <div class="row">
        <div class="alert alert-warning" id="fsdfsd">{{messages.oops}}</div>
      </div>

 </div>
     <div ng-show="justSaved" class="row">
      <div class="row">
        <div class="alert alert-warning" id="fsdfsd">{{messages.justSaved}}</div>
      </div>
    </div>
<div class="row" ng-show="validatedData.total">
	<div class="alert alert-info">
		<p><strong>Add extra details to the list of compounds you have registered</strong></p>
	</div>
</div>
<div class="spacer"><div>

<div class="row">
			<div class="pull-left">
				<a ui-sref="cbh.projects.project.demo.validate"><button class="btn btn-primary">Back</button></a>
				<a role="button" class="btn btn-danger" ng-click="startAgain($flow.files)" ui-sref="cbh.projects.project.demo.intro">Cancel</a>
			</div>
			<div class="pull-right">
				<input type="submit" ng-disabled="!validatedData.total" class="btn btn-primary" id="submit"  ng-click="mapCustomFieldsToMols(false)" value="Save all Molecules to AssayReg">
			</div>
			


		
		
	</div>
<div class="spacer"><div>
	

		<div  ng-show="validatedData.total" class="col-xs-12" ng-show="validatedData.total">

			<div class="row" ng-include="'views/templates/custom_fields.html'"></div>


		</div>
	 <div class="row">
  <div ng-show="processingMultiBatch" class="col-centered bubblingG">
              <span id="bubblingG_1">
              </span>
              <span id="bubblingG_2">
              </span>
              <span id="bubblingG_3">
              </span>
  </div>
</div>
<div class="spacer"><div>

		<div ng-show="validatedData.total" class="row">
			<div class="pull-left">
				<a ui-sref="cbh.projects.project.demo.validate"><button class="btn btn-primary">Back</button></a>
				<a role="button" class="btn btn-danger" ng-click="startAgain($flow.files)" ui-sref="cbh.projects.project.demo.intro">Cancel</a>
			</div>
			<div class="pull-right">
				<input type="submit" ng-disabled="!validatedData.total" class="btn btn-primary" id="submit"  ng-click="mapCustomFieldsToMols(false)" value="Save all Molecules to AssayReg">
			</div>

	</div>

