<div ng-hide="validatedData.total" class="row">
      <div class="row">
        <div class="alert alert-warning" id="fsdfsd">{{messages.oops}}</div>
      </div>
 </div>
<div class="row" ng-show="validatedData.total">
	<div class="alert alert-info">
		<p><strong>Add extra details to the list of compounds you have registered</strong></p>
	</div>
</div>
<form novalidate name="inputForm" class="form-horizontal" role="form" ng-submit="">
	

		<div class="col-xs-12" ng-show="validatedData.total">

			<div class="row" ng-include="'views/templates/custom_fields.html'"></div>


		</div>

		<div class="row">
			<div class="pull-left">
				<a ui-sref="projects.project.demo.add.multiple"><button class="btn btn-primary">Back</button></a>
				<a role="button" class="btn btn-danger" ng-click="startAgain($flow.files)" ui-sref="projects.project.demo.intro">Cancel</a>
			</div>
			<div class="pull-right">
				<input type="submit" ng-disabled="!validatedData.total" class="btn btn-primary" id="submit" ui-sref="projects.project.demo.validate" ng-click="mapCustomFieldsToMols(false)" value="Next">
			</div>
			


		
		
	</div>

</form>
