
<div class="row">
	<form name="inputForm">
	<div class="col-xs-6">
		<div class="form-group mt">
			<label for="text_input" class="blue text-center"><strong class="nexa">Paste your SMILES or IDs here</strong></label>
			<textarea id="text_input" name="text_input" class="form-control" rows="5" ng-model="input_string" ng-model-options="{ debounce:700 }"></textarea>
		</div>
			<a class="btn btn-primary pull-right" role="button" ui-sref="demo.map" ng-click="parseInput()">Next</a>
	</div>

	<div class="col-xs-6">
		<div class="form-group mt">
			<label for="file_input" class="blue text-center"><strong class="nexa">Or upload a file here</strong></label>
			<input type="file" id="file_input">
		</div>

		<div>
			<a class="btn btn-primary pull-right" role="button" ui-sref="demo.map">Next</a>
			<!-- <a class="btn btn-danger" ng-click="addAlert()">Add Alert</a> -->
		</div>
	</div>

	</form>
	
</div>