<div class="row mt">
	<div class="col-xs-12">
		<h2 class="blue">AssayReg Help section<br><small>How-tos, information and FAQs</small></h2>	
	</div>

</div>

<div class="row">
	<div class="col-xs-12">
		<p class="nexa">Help will be populated fully in due course.</p>
		<p class="nexa">Currently, the system allows the adding and viewing of data base on projects that the user has access to.</p>
		<p class="nexa">To View data, go to <a href="/view">View</a> which shows all the sub projects and their corresponding assays and activity data points.</p>
		<p class="nexa">One end-to-end <em>Data Classification</em> (the full chain of study, assay and activity) can be viewed by clicking the View Data button nex to each classification.</p>
	</div>
</div>

<div class="spacer"></div>

<script type="text/javascript">

$(document).ready(function(){
	Gifffer();
});

</script>
