<div class="container-fluid mt">
	<div class="col-xs-12">
		<div class="row">
			<h2 class="blue">Plate Maps <br><small>Plate maps currently in the system. To add a plate map to the project, click here</small> <a ui-sref="cbh.projects.project.addplate({project_key: project_key})" class="btn btn-primary" role="button">Add Plate</a></h2>
			<!-- <span class="pull-right" style="margin-top: -40px; margin-right: -10px;"><label >Filter plate list: </label><input ng-model="search.$"><info-box lookup="plate_list_filter_help" lookupitems="cbh.messages" left="true"></info-box></span> -->
			
				
				<!-- New plate form -->
				<div class="container-flex" ng-init="loadPlateMaps()">
					
					<div class="col-xs-8">
                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" max-size="5">
                        </dir-pagination-controls>
	                </div>
					<table class="table table-responsive">
						<thead>
							<tr>
								<th ng-repeat="field in projectObj.custom_field_config.project_data_fields">{{field.edit_form.form[0].key}}</th>
								<th>Added on</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr ng-repeat="plate in plates | filter:search" ng-class="editingPlateId == plate.id ? 'info' : ''"> -->
							<tr dir-paginate="plate in plates | itemsPerPage:5" current-page="pagination.current" total-items="totalCount">
								<td ng-repeat="field in projectObj.custom_field_config.project_data_fields">{{plate.custom_fields[field.edit_form.form[0].key]}}</td>
								<td>{{plate.created | date: "d MMM yyyy"}}</td>
								<td data-plate-id="{{plate.id}}"><span class="glyphicon glyphicon-pencil" ng-click="loadPlateForEditing(plate.id)" style="cursor:pointer;"></span></td>
							</tr>
							<tr ng-if="plates.length == 0">
								<td colspan="6">no items</td>
							</tr>
						</tbody>
					</table>

					<div ng-if="showEditingForm">
						<h2 class="blue">{{editingPlate.name}}</h2>
						
						
						<platemap plate="editingPlate" sfh="schemaFormHolder" cbh="cbh" save-plate-function="patchWholePlate()" plate-saved="plateSaved"></platemap>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
