        <div class="modal-header">

            <button  type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span  class="glyphicon glyphicon-remove-circle"></span></button>
            <h3 style="display:inline-block;" class="modal-title blue">Editing user roles on {{proj.name}} 
        </h3>
        <div    class="dropdown" style="display:inline-block;">
        <button  type="button" class="btn btn-default" id="copyProjectButton" class="btn btn-primary btn-toggle"  data-toggle="dropdown"  >
                <span class="glyphicon glyphicon-copy"></span> Copy roles from another project
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="copyProjectButton">
                <li ><div class="form-group col-xs-12"><label>Filter project list:</label><input class="form-control" type="text" placehoder="Search list" ng-model="psearch"/></div></li>
                <li ng-repeat="project in projects | filter: {'name': psearch, 'editor': true }"><a ng-click="copyProjectPermissions(project.id)">Merge {{project.name}} roles</a></li>
                
            </ul>
        </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12" ng-repeat="role in projectPermissions.roles">
                    <div class="form-group">
                    <label class="control-label">Project {{ role | titlecase }}s</label>
                    <!--tagging="projectPermissions[role + '_user_tagfunction']" tagging-tokens="SPACE|,"-->
                    <ui-select  multiple ng-model="projectPermissions[role].users" theme="bootstrap" >
                        <!-- If the user is an owner then they are not allowed to remove themselves-->
                        <ui-select-match placeholder="&#9660;&nbsp;Select User..." ui-lock-choice="($item.is_logged_in && role=='owner')"><span ng-if="$item.first_name != '' && $item.last_name != ''">{{$item.first_name + ' ' + $item.last_name + ($item.inviting ? ' (inviting new)' : '')}}</span><span ng-if="$item.first_name == '' && $item.last_name == ''">{{$item.username + ($item.inviting ? ' (inviting new)' : '')}}</span></ui-select-match>
                        <!--disable adding of the owner role to a user if they themselves do not have the create project permission-->
                        <ui-select-choices ui-disable-choice="u.is_logged_in || role=='owner' && !u.can_create_and_own_projects" repeat="u.resource_uri as u in allUsers | propsFilter: {display_name: $select.search}">
                          
                          
                          <div>
                              <div ng-bind-html="(u.display_name | highlight: $select.search) + (u.inviting ? ' (inviting new)' : '')"></div>
                          </div>
                        </ui-select-choices>
                    </ui-select>
                    <div ng-if="projectPermissions[role + '_message']" class="help-block">{{projectPermissions[role + '_message']}}</div>
                </div>
                <div ng-if="errormess" class="col-xs-12">
                    <div class="col-xs-12 has-error">
                <div class="help-block ">{{errormess}}
                    </div>
                    </div>
                     </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"> 
            <button type="button" class="btn btn-danger" ng-click="cancel()">
                <span class="glyphicon glyphicon-remove-circle"></span> Close and Discard Changes
            </button>
            <button type='button' class="btn btn-primary" ng-click="saveChanges()">
                <span class="glyphicon glyphicon-share"></span>Save Changes and Close
            </button>
    </div>
