 		<div class="modal-header">
            <button  type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span  class="glyphicon glyphicon-remove-circle"></span></button>
            <h3 class="modal-title blue">More Information</h3>
        </div>
        <div class="modal-body">
            
            <!-- <dl class="dl-horizontal" ng-repeat="(key, value) in popup_data">
														
				  <dt>{{key}}</dt>
				  <dd>{{value}}</dd>
				
			</dl> -->
            <!-- <div class="row" ng-repeat="(key, value) in popup_data">
                <div class="col-xs-4">{{key}}</div>
                <div class="col-xs-8">{{value}}</div>
            </div> -->

            <div class="row">
                <div class="form-group">
                    <!-- <div class="col-xs-12">
                        <button class="btn btn-primary" ng-click="saveDraft(popup_data.main_data.project_data)"><span class="glyphicon glyphicon-floppy-save"></span> Save Draft</button>
                        <small><a ng-click="toggleDraftList()"><span class="glyphicon glyphicon-time"></span> <span ng-show="displayDraftList == true">Hide draft history</span> <span ng-show="displayDraftList == false">Show draft history</span> </a></small>
                        <ul ng-if="displayDraftList == true" class="draft-list list-unstyled">
                            <li ng-repeat="draft in draftList" ng-click="loadDraft(draft.draft_key)"><span class="btn btn-primary">Saved {{draft.draft_key | date : shortTime}}</span></li>
                            <li ng-if="draftList.length == 0"><span class="text-default">No drafts saved</span></li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-xs-12">
                    <div class="form-group" sf-schema="popup_data.this_level_edit_schema" sf-form="popup_data.this_level_edit_form" sf-model="popup_data.main_data.project_data"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="cancel()"><span class="glyphicon glyphicon-remove-circle"></span> Close and Discard Changes</button>
            <button type='submit' class="btn btn-primary" ng-click="saveEdits()"><span class="glyphicon glyphicon-share"></span> Update and Close</button>
        </div>