        <div class="modal-header">
            <button  type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span  class="glyphicon glyphicon-remove-circle"></span></button>
            <h3 class="modal-title blue">Editing user roles on {{proj.name}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12" ng-repeat="role in projectPermissions.roles">
                    <div class="form-group">
                    <label class="control-label">Project {{ role | titlecase }}s</label>
                    <ui-select tagging="projectPermissions[role + '_user_tagfunction']" tagging-tokens="SPACE|," multiple ng-model="projectPermissions[role].users" theme="bootstrap" >
                        <!-- If the user is an owner then they are not allowed to remove themselves-->
                        <ui-select-match placeholder="&#9660;&nbsp;Select User..." ui-lock-choice="($item.is_logged_in && role=='owner')"><span ng-if="$item.first_name != '' && $item.last_name != ''">{{$item.first_name + ' ' + $item.last_name + ($item.inviting ? ' (inviting new)' : '')}}</span><span ng-if="$item.first_name == '' && $item.last_name == ''">{{$item.username + ($item.inviting ? ' (inviting new)' : '')}}</span></ui-select-match>
                        <ui-select-choices ui-disable-choice="u.is_logged_in" repeat="u.resource_uri as u in allUsers">
                          
                          <div ng-if="u.first_name != '' && u.last_name != ''">
                              <div ng-bind-html="u.first_name + ' ' + u.last_name + (u.inviting ? ' (inviting new)' : '')"></div>
                          </div>
                          <div ng-if="u.first_name == '' && u.last_name == ''">
                              <div ng-bind-html="u.username + (u.inviting ? ' (inviting new)' : '')"></div>
                          </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div ng-if="errormess" class="col-xs-12">
                    <div class="col-xs-12 has-error">
                <div class="help-block ">{{errormess}}
                    </div>
                    </div>
                     </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"> 
            <button type="button" class="btn btn-danger" ng-click="cancel()">
                <span class="glyphicon glyphicon-remove-circle"></span> Close and Discard Changes
            </button>
            <button type='button' class="btn btn-primary" ng-click="saveChanges()">
                <span class="glyphicon glyphicon-share"></span>Save Changes and Close
            </button>
    </div>
