<div class="row">

	<div class="col-xs-12">
		<h2 class="blue">You're not assigned to any projects</h2>
		<p class="nexa">As a new user, you have not been assigned to any projects at this time.</p>
		<p class="nexa">Site admins have been made aware that you are a new user and will assign you to projects shortly.</p>
		<p class="nexa">You will then be able to view projects you are added to, submit compounds and search them.</p>
		<p class="nexa">If you do have any queries or want to chase up the status of your projects, please email <strong><a href="mailto:info@chembiohub.ox.ac.uk">info@chembiohub.ox.ac.uk</a></strong>.</p>

	</div>

</div>


