<div class="row" style="margin-left:0px">
		<h2 class="subheading">{{ proj.name }}
                <div class="pull-right">
                    <a ng-if="(proj.editor && proj.project_type.show_compounds == false)" ng-click="toggleSingleForm.showFlag = !toggleSingleForm.showFlag" role="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> Add single</a> 
                    <a ng-if="!proj.editor" disabled title="You do not have permission to edit {{proj.project_type.show_compounds == true ? 'compounds' : 'items' }} on this project. Please ask an administrator for details." role="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> Add {{project.project_type.show_compounds == true ? 'compound' : 'item' }}</a>
                    <a ng-if="proj.editor && proj.project_type.show_compounds == true" ui-sref="cbh.projects.project.addsingle({projectKey: proj.project_key})" role="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-th-list"></span> Draw compound</a>
                    <a ng-if="proj.editor" ui-sref="cbh.projects.project.addcompounds({projectKey: proj.project_key})" role="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-th-list"></span> Add {{proj.project_type.show_compounds == true ? 'compounds' : 'items' }}</a>
                    <a ng-if="!proj.editor" disabled title="You do not have permission to edit compounds on this project. Please ask an administrator for details." role="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-th-list"></span> Add {{proj.project_type.show_compounds == true ? 'compounds' : 'items' }}</a>
                    
                </div>
                <div class="pull-right" style="margin-right:10px; border: 1px solid #fff; padding: 0 3px 2px; border-radius:4px; margin-top: -2px;"><small style="color:white;">
                	<img src="images/chemical-icon-white.png" ng-if="proj.project_type.show_compounds == true">
                	<img src="images/inventory-icon-white.png" ng-if="proj.project_type.show_compounds == false">
                	<!-- <img ng-src="{{proj.project_type.show_compounds && '/images/chemical-icon-white.png'
                	|| '/images/inventory-icon-white.png'}} " alt="{{proj.project_type.name}} project" title="{{proj.project_type.name}} project"> --> {{proj.project_type.name}}</small>
                    
                </div>
                
        </h2>

        <div class="show-animate" ng-show="toggleSingleForm.showFlag && proj.project_type.show_compounds == false">
            <div ng-repeat="form in formChunks" class="col-xs-12 col-sm-4">
                <div  class=" form-group" sf-schema="::myschema" sf-form="::form" sf-model="newMol.customFields"></div>
                <div class="spacer"></div>
                
            </div>
            <div class="row"><div class="col-xs-12"><div class="form-group pull-right" >
                                                <button ng-click="blankForm()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Clear Form</button>
                                                <button  ng-click="saveSingleCompound()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>Save record
                                                </button>
                                            </div></div></div>
        </div>
</div>