<div class="row">
	<div class="col-xs-12">
		<h2 class="blue nexa">{{ projectKey }}<br/>
			<small>Project details here</small>
		</h2>
	</div>
</div>

<div class="row">

	<!-- Column with results -->
	<div class="col-sm-12">

		<div ng-include="'views/templates/compound-list.html'"></div>

	</div>
</div>

<div class="row">

	<div class="col-sm-4">

		<p class="centered">

			<div class="col-sm-6 entry-point centered">
			<a ui-sref="projects.project.demo.add.single({projectKey: projectKey})">
				<div class="row hidden-xs">
					<div class="img-circle blue-bg">
						<span class="img-helper"></span>
						<img src="images/benzene.png" alt="add single"/>
					</div>
				</div>
				<div class="row">
					<div>
						<p class="nexa blue">Add Single Compound</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-sm-6 entry-point centered">
			<a ui-sref="projects.project.demo.add.multiple({projectKey: projectKey})">
				<div class="row hidden-xs">
					<div class="img-circle blue-bg">
						<span class="img-helper"></span>
						<img src="images/addmultiple.png" alt="add multiple"/>
					</div>
				</div>
				<div class="row">
					<div>
						<p class="nexa blue">Add Multiple Compounds</p>
					</div>
				</div>
			</a>
		</div>
		</p>

	</div>
</div>

<script>

angular.element(document).ready(function() {
  $('svg').each(function() {
  	$(this).attr('width', '100px');
  	$(this).attr('height', '100px');
  })
});
</script>

	