<div class="container">

<div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
	<!-- <a role="button" class="pull-right btn btn-primary" ng-click="toggleDataSummary.showFlag = !toggleDataSummary.showFlag" ng-if="projects.length > 4"><span ng-show="!toggleDataSummary.showFlag"><span class="glyphicon glyphicon-plus-sign"></span> Show More</span><span ng-show="toggleDataSummary.showFlag"><span class="glyphicon glyphicon-minus-sign"></span> Hide More</span></a>  -->
            <h2 class="blue nexa"><a ng-click="topLink()" style="text-transform: capitalize;"><span class='glyphicon glyphicon-{{glyphicon}}'></span> &nbsp;{{headline}}</a> <br><small>{{subheading}} <info-box lookup="projects_help" lookupitems="cbh.messages" right="true"></info-box></small></h2>
        </div>
    </div>

<project-list></project-list>
<div ng-if="" ng-include="'views/no-projects.html'"></div>
            <a id="search-bottom"></a>

<div class="form-views" ui-view="projectsummary">     </div>

<div class="form-views" ui-view="newresults">     </div>

</div>
