<!-- <div class="col-xs-12" style="border: 1px solid #444; padding:10px; border-radius:5px; margin-bottom:20px;"  eui-index="'cbh_queries'" eui-filter="ejs.BoolFilter().must(ejs.TermFilter('data_form_config.raw' , form.resource_uri)).must(ejs.TermFilter('level_from', level)).must(ejs.TermFilter('l0_permitted_projects.raw', assayctrl.proj.resource_uri))" eui-enabled="true">
</div> -->


<div eui-index="'cbh_queries'" eui-enabled="true">
	<h2 class="blue">Search Assays</h2>
	<div class="row">
		<div class="col-xs-4">

			<!-- User search -->
			<div class="form-group">
				<label class="control-label">User</label>
				<!-- <input class="form-control" type="text" eui-query="ejs.MultiMatchQuery([dpclassif.next_level + '.project_data_all'] , querystring).type('phrase_prefix')" ng-model="querystring" eui-enabled="querystring" eui-highlight="ejs.Highlight('*').preTags('<span class=\'highlighted\'>').postTags('</span>')"/> -->
				<select class="form-control">
					<option>Select User</option>
				</select>

			</div>
			

		</div>
		<div class="col-xs-4">
			<!-- Date start -->
			<div class="form-group">
				<label class="control-label">Activity Date From</label>
				<input class="form-control" type="date">
			</div>


		</div>
		<div class="col-xs-4">
			<!-- Date end -->
			<div class="form-group">
				<label class="control-label">Activity Date To</label>
				<input class="form-control" type="date">
			</div>

		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-xs-4">

			<!-- Project search -->
			<div class="form-group">
				<label class="control-label">Projects</label>
				<!-- <input class="form-control" type="text" eui-query="ejs.MultiMatchQuery([dpclassif.next_level + '.project_data_all'] , querystring).type('phrase_prefix')" ng-model="querystring" eui-enabled="querystring" eui-highlight="ejs.Highlight('*').preTags('<span class=\'highlighted\'>').postTags('</span>')"/> -->
				<select multiple class="form-control">
					<option>Select Project</option>
				</select>

			</div>
			

		</div>
		<div class="col-xs-4">
			<!-- Sub Project search -->
			<div class="form-group">
				<label class="control-label">Sub Projects</label>
				<select multiple class="form-control">
					<option>Select Sub Project</option>
				</select>
			</div>


		</div>
		<div class="col-xs-4">
			<!-- Assay search -->
			<div class="form-group">
				<label class="control-label">Assays</label>
				<select multiple class="form-control">
					<option>Select Assay</option>
				</select>
			</div>

		</div>
	</div>


	<!-- Result section -->
	<div class="row">

		<div class="col-xs-12">
			<!-- Just showing Activities for now -->
			<!-- Results table here - filters eventually in table header? -->
			<table class="table table-striped">

                <thead>
                    <tr>
                        <th><small>
                            Actions
                        </small></th>
                        <th ng-repeat="bottomlevelfield in dpclassif.next_level_cfc.project_data_fields">
                            <small>
                            {{bottomlevelfield.name}}
                        </small>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="childItem in indexVM.results.hits.hits" >
                        <td>
                            <a  ng-click="dpclassif.setChosenDataFormConfig(dpclassif.next_level_dfc.resource_uri, true, childItem._source[dpclassif.next_level])" > 
                                <span class="hidden-xs hidden-sm" title="Duplicate">Duplicate</span>
                            </a>
                        </td>
                        <td style="line-height:0.9 !important;" ng-repeat="field in dpclassif.next_level_cfc.project_data_fields" >
                            <small ng-show="childItem.highlight[dpclassif.next_level + '.project_data.' + field.elasticsearch_fieldname]">
                                <span ng-bind-html="childItem.highlight[dpclassif.next_level + '.project_data.' + field.elasticsearch_fieldname][0]"></span>
                            </small>
                            <small ng-hide="childItem.highlight[dpclassif.next_level + '.project_data.' + field.elasticsearch_fieldname]">
                            {{childItem._source[dpclassif.next_level].project_data[field.elasticsearch_fieldname]}}
                            </small>
                        </td>
                    </tr>
                    <tr ng-if="indexVM.results.hits.hits.length == 0" class="text-center"><td colspan="{{(1+ dpclassif.next_level_cfc.project_data_fields.length)}}" class="text-center">No results</td></tr>
                        
                </tbody>
                

            </table>

		</div>

	</div>




</div>