<!-- For date range aggregation, use angular bound variables -->


<div >
	<div class="row mt">
		<div class="col-xs-12">
			<h2 class="blue"><span class="glyphicon glyphicon-search"></span> Search Assays <br><small>Narrow down assay results using the form below</small></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">

			<!-- User search -->
			<div class="form-group">
				<label class="control-label">Activity Created By User</label>
				<!-- <input class="form-control" type="text" eui-query="ejs.MultiMatchQuery([dpclassif.next_level + '.project_data_all'] , querystring).type('phrase_prefix')" ng-model="querystring" eui-enabled="querystring" eui-highlight="ejs.Highlight('*').preTags('<span class=\'highlighted\'>').postTags('</span>')"/> -->
				<ui-select multiple ng-model="userData.useruris" theme="bootstrap" >
				    <ui-select-match placeholder="&#9660;&nbsp;Select User...">{{$item.username}}</ui-select-match>
				    <ui-select-choices repeat="u.resource_uri as u in users">
				      <div ng-bind-html="u.first_name + ' ' + u.last_name + ' ' + u.username"></div>
				    </ui-select-choices>
				  </ui-select>

			</div>
		</div>

		<div class="col-xs-4">
			<!-- Date start -->
			<div class="form-group">
				<label class="control-label">Activity Date From</label>
				<input class="form-control datepicker" ng-model="dates.start" ng-change="dateHandler('start')">
				
			</div>


		</div>
		<div class="col-xs-4">
			<!-- Date end -->
			<div class="form-group">
				<label class="control-label">Activity Date To</label>
				<input class="form-control datepicker" ng-model="dates.end" ng-change="dateHandler('end')">
				
			</div>

		</div>
	</div>


	<div class="row" >
		<div class="col-xs-4" >



			<!-- Project search -->
			<div class="form-group">
				<label class="control-label">Projects</label>
				
				  <ui-select multiple ng-model="selections.l0" theme="bootstrap" eui-index="'cbh_queries'" eui-enabled='true' eui-filter="ejs.TermFilter('level_from', 'l0')" >
				  <span eui-query="ejs.MultiMatchQuery(['l0.project_data_all'], $select.search).type('phrase_prefix')"  eui-enabled="$select.search" ></span>
				    <ui-select-match placeholder="&#9660;&nbsp;Select Project...">{{$item._source.l0.project_data.Title}}</ui-select-match>
				    <ui-select-choices repeat="childItem._source.l0.resource_uri as childItem in indexVM.results.hits.hits">
				      <div ng-bind-html="childItem._source.l0.project_data.Title"></div>
				    </ui-select-choices>
				  </ui-select>

				<span class="pull-right"><small><a ng-click="clearSelections('l0')">Clear</a></small></span>

			</div>
			
			

		</div>
		<div class="col-xs-4" >
			<!-- Sub Project search -->
			<div class="form-group">
				
				<label class="control-label">Sub Projects</label>
				
				<ui-select multiple ng-model="selections.l1" theme="bootstrap" eui-index="'cbh_queries'" eui-enabled='true' eui-filter="ejs.TermFilter('level_from', 'l1')">
				<span eui-enabled="selections.l0.length > 0" eui-filter="ejs.TermsFilter('l0.resource_uri.raw', selections.l0)"></span>
				<span eui-query="ejs.MultiMatchQuery(['l1.project_data_all'], $select.search).type('phrase_prefix')"  eui-enabled="$select.search" ></span>
				    <ui-select-match placeholder="&#9660;&nbsp;Select Sub Project...">{{$item._source.l1.project_data.Title}}</ui-select-match>
				    <ui-select-choices repeat="childItem._source.l1.resource_uri as childItem in indexVM.results.hits.hits">
				      <div ng-bind-html="childItem._source.l1.project_data.Title"></div>
				    </ui-select-choices>
				  </ui-select>
				<span class="pull-right"><small><a ng-click="clearSelections('l1')">Clear</a></small></span>
			</div>


		</div>
		<div class="col-xs-4">
			<!-- Assay search -->
			<div class="form-group">
				

				<label class="control-label">Assays</label>
				
				<ui-select multiple ng-model="selections.l2" theme="bootstrap"  eui-index="'cbh_queries'" eui-enabled='true' eui-filter="ejs.TermFilter('level_from', 'l2')" >
				<span eui-enabled="selections.l0.length > 0" eui-filter="ejs.TermsFilter('l0.resource_uri.raw', selections.l0)"></span>
				<span eui-enabled="selections.l1.length > 0" eui-filter="ejs.TermsFilter('l1.resource_uri.raw', selections.l1)"></span>
				<span eui-query="ejs.MultiMatchQuery(['l2.project_data_all'], $select.search).type('phrase_prefix')"  eui-enabled="$select.search" ></span>
				    <ui-select-match placeholder="&#9660;&nbsp;Select Assay...     ">{{$item._source.l2.project_data.Title}}</ui-select-match>
				    <ui-select-choices repeat="childItem._source.l2.resource_uri as childItem in indexVM.results.hits.hits">
				      <div ng-bind-html="childItem._source.l2.project_data.Title"></div>
				    </ui-select-choices>
				  </ui-select>
					<span class="pull-right"><small><a ng-click="clearSelections('l2')">Clear</a></small></span>
					
			</div>

		</div>
	</div>

	<!-- <div class="row">
		<div class="col-xs-12" eui-index="'cbh_queries'" eui-enabled='true' >
			<h2 class="blue">Advanced Search</h2>
			<div class="row"  ng-repeat="custom_field in advancedSearchFields">
				<div class="form-group col-xs-12">
						<div class="col-xs-3">
							<span eui-enabled="true" eui-aggregation="ejs.TermsAggregation('advancedl0').field('l0.project_data_all')"></span>
							<span eui-enabled="true" eui-aggregation="ejs.TermsAggregation('advancedl1').field('l1.project_data_all')"></span>
							<span eui-enabled="true" eui-aggregation="ejs.TermsAggregation('advancedl2').field('l2.project_data_all')"></span>
							<span eui-enabled="true" eui-aggregation="ejs.TermsAggregation('advancedl3').field('l3.project_data_all')"></span>
							<input class="form-control" 
							       placeholder="Field Name" 
							       type="text" 
							       id="custom_field_name_{{custom_field.id}}" 
							       name="custom_field_name_{{custom_field.id}}" 
							       eui-query="ejs.MultiMatchQuery(['l0.project_data_all','l1.project_data_all','l2.project_data_all','l3.project_data_all'], advancedSearchFields[custom_field.id].name ).type('phrase_prefix')" 
							       ng-model="advancedSearchFields[custom_field.id].name"
							       data-toggle="dropdown">
								<ul class="dropdown-menu" ng-show="advancedSearchFields[custom_field.id].name != ''" style="width:100%; max-height:200px; overflow-y:scroll;">
									<li ng-repeat="thing in indexVM.results.aggregations.advancedl0.buckets" role="presentation" >
										<a ng-click="advancedSearchFields[custom_field.id].name = thing.key">{{thing.key}}</a>
									</li>
									<li ng-repeat="thing in indexVM.results.aggregations.advancedl1.buckets" role="presentation" >
										<a ng-click="advancedSearchFields[custom_field.id].name = thing.key">{{thing.key}}</a>
									</li>
									<li ng-repeat="thing in indexVM.results.aggregations.advancedl2.buckets" role="presentation" >
										<a ng-click="advancedSearchFields[custom_field.id].name = thing.key">{{thing.key}}</a>
									</li>
									<li ng-repeat="thing in indexVM.results.aggregations.advancedl3.buckets" role="presentation" >
										<a ng-click="advancedSearchFields[custom_field.id].name = thing.key">{{thing.key}}</a>
									</li>
								</ul>
						</div>
						<div class="col-xs-8">
							<input type="text" 
							       name="custom_field_value_{{custom_field.id}}" 
							       id="custom_field_value_{{custom_field.id}}" 
							       class="form-control" 
							       placeholder="Value" 
							       ng-model="advancedSearchFields[custom_field.id].value"
							       data-toggle="dropdown">
						</div>
						<div class="col-xs-1" ng-click="removeCustomField(custom_field)"><span class="glyphicon glyphicon-minus-sign"></span>
						</div>
					</div>
				</div>
	
			<div class="row">
				<div class="col-xs-12"><p><a ng-click="addCustomField()" class="btn btn-primary" role="button" ><span class="glyphicon glyphicon-plus-sign"></span> Add Custom Field</a></p>
				</div>
			</div>
		</div>
	</div> -->

	<div class="row">
		<div class="col-xs-12">
			<div class="pull-right">
				<button  class="btn btn-lg btn-danger" role="button" ng-click="resetForm()"><span class="glyphicon glyphicon-remove"></span> Reset</button>
				<button  class="btn btn-lg btn-success" role="button"><span class="glyphicon glyphicon-ok"></span> Run Search</button>
			</div>
		</div>
	</div>


	<hr>
	<!-- Result section -->
	<div class="row">
		
		<div class="col-xs-12">
			
			<!-- Just showing Activities for now -->
			<!-- Results table here - filters eventually in table header? -->
			<div eui-index="'cbh_queries'" eui-enabled="true" eui-filter="ejs.TermFilter('level_from', 'l3')"  eui-sort="ejs.Sort('modified').order('desc')" >
				<h2 class="subheading">{{indexVM.results.hits.total}} Results</h2>
				<div class="pull-right">
	                <span><input type="text" eui-query="ejs.MultiMatchQuery(['l0.project_data_all','l1.project_data_all','l2.project_data_all','l3.project_data_all'], cbh.textsearch).type('phrase_prefix')" ng-model="cbh.textsearch" eui-enabled="cbh.textsearch" eui-highlight="ejs.Highlight('*').preTags('<span class=\'highlighted\'>').postTags('</span>')"/></span>
	                <span></span>
	                <span ng-include="'views/templates/download-results.html'"></span>
	            </div>
				<span eui-enabled="selections.l0.length > 0" eui-filter="ejs.TermsFilter('l0.resource_uri.raw', selections.l0)"></span>
				<span eui-enabled="selections.l1.length > 0" eui-filter="ejs.TermsFilter('l1.resource_uri.raw', selections.l1)"></span>
				<span eui-enabled="selections.l2.length > 0" eui-filter="ejs.TermsFilter('l2.resource_uri.raw', selections.l2)"></span>
				<span eui-enabled="dates.startES != ''" eui-filter="ejs.RangeFilter('l3.created').gte(dates.startES)"></span>
				<span eui-enabled="dates.endES != ''" eui-filter="ejs.RangeFilter('l3.created').lte(dates.endES)"></span>
				<span eui-enabled="cbh.textsearch" eui-query="ejs.MultiMatchQuery(['l0.project_data_all','l1.project_data_all','l2.project_data_all','l3.project_data_all'], cbh.textsearch).type('phrase_prefix')" ></span>
				<span eui-enabled="userData.useruris.length > 0" eui-filter="ejs.TermsFilter('created_by.raw', userData.useruris)"></span>
				<span eui-enabled="true" eui-highlight="ejs.Highlight('l0.*').preTags('<span class=\'highlighted\'>').postTags('</span>')"></span>

				<!-- include filters for each advanced search field -->
				<!-- uncomment when it's working... -->
				<!-- TermsFilter may not be appropriate for all filters - may need to use range filter etc -->
				<!-- <span ng-repeat="field in advancedSearchFields" eui-enabled="true" eui-filter="ejs.TermsFilter('{{field.name}}', field.value)"></span> -->
					
				<table class="table table-striped">

	                <thead>
	                    <tr>
	                    	<th ><small>
	                            Structure
	                        </small></th>
	                    	<th><small>
	                        	Standardised Activity
	                        </small></th>
	                    	<th><small>
	                            Activity Details
	                        </small></th>

	                        <th><small>
	                            Assay
	                        </small></th>
	                        <th><small>
	                            Sub-Project
	                        </small></th>
	                        <th><small>
	                            Project
	                        </small></th>
	                        <th><small>
	                            Added
	                        </small></th>
	                        
	                        <!-- <th ng-repeat="bottomlevelfield in dpclassif.next_level_cfc.project_data_fields">
	                            <small>
	                            {{bottomlevelfield.name}}
	                        </small>
	                        </th> -->
	                    </tr>
	                </thead>
	                <tbody>

	                    <tr ng-repeat="childItem in indexVM.results.hits.hits" >
	                    	<td>
	                    		<img ng-if="childItem._source.imgSrc" ng-src="data:image/png;base64,{{childItem._source.imgSrc}}"></img>
	                    	</td>
	                    	<td><a ng-click="showDetailPopup(childItem._source.l3.custom_field_config, childItem._source.l3.project_data)">View Activity Details</a></td>
	                        <td>
	                        	{{childItem._source.chembl.activities.published_type}}&nbsp;-&nbsp;{{childItem._source.chembl.activities.published_value}}{{childItem._source.chembl.activities.published_units}}
	                        	<a ng-if="childItem._source.chembl" ng-click="showChemblPopup(childItem._source.chembl)">View deposition preview</a>
	                        </td>
	                        <td><a ng-click="showDetailPopup(childItem._source.l2.custom_field_config, childItem._source.l2.project_data)">{{childItem._source.l2.project_data.Title}}</a><br></td>
	                    		
	                        <td><a ng-click="showDetailPopup(childItem._source.l1.custom_field_config, childItem._source.l1.project_data)">{{childItem._source.l1.project_data.Title}}</a><br></td>
	                    		

	                    	<td><a ng-click="showDetailPopup(childItem._source.l0.custom_field_config, childItem._source.l0.project_data)">{{childItem._source.l0.project_data.Title}}</a><br></td>
	                    		
	                    	
	                    	<td>{{childItem._source.l3.created | date : 'dd MMM yyyy'}}</td>

	                        
	                        

	                        
	                    </tr>
	                    <tr ng-if="indexVM.results.hits.hits.length == 0" class="text-center"><td colspan="{{(1+ dpclassif.next_level_cfc.project_data_fields.length)}}" class="text-center">No results</td></tr>
	                        
	                </tbody>
	                

	            </table>
	            <!-- <div class="row">

		<div class="col-xs-12">
			<div class="pull-left" ng-include="'views/templates/download-results.html'">
				

			</div>
		</div>
			
</div> -->
	            <div class="text-center">
	                            

	                <ul class="pager">

	                    <li>{{indexVM.results.hits.total}} results </li>
	                    <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=1">First</a></li>
	                    <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=indexVM.page - 1">Previous</a></li>
	                    <li>Page {{indexVM.page}} of {{indexVM.pageCount}}</li>
	                    <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.page + 1">Next</a></li>
	                    <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.pageCount">Last</a></li>
	                    <li>
	                        <select ng-model="indexVM.pageSize">
	                            <option ng-repeat="item in [5, 10, 20]">{{item}}</option>
	                        </select>
	                        per page
	                    </li>
	                </ul>
	            </div>

            </div>

		</div>

	</div>




</div>


<script type="text/javascript">
	$('.datepicker').pickadate({
  // Escape any “rule” characters with an exclamation mark (!).
  format: 'dd mmm, yyyy',
  formatSubmit: 'yyyy-MM-dd',
});
</script>