<!-- <div class="col-xs-12" style="border: 1px solid #444; padding:10px; border-radius:5px; margin-bottom:20px;"  eui-index="'cbh_queries'" eui-filter="ejs.BoolFilter().must(ejs.TermFilter('data_form_config.raw' , form.resource_uri)).must(ejs.TermFilter('level_from', level)).must(ejs.TermFilter('l0_permitted_projects.raw', assayctrl.proj.resource_uri))" eui-enabled="true" eui-aggregation="ejs.DateRangeAggregation('assay-search').range(from,to,'date_limited')">
</div> -->

<!-- For date range aggregation, use angular bound variables -->


<div>
	<div class="row mt">
		<div class="col-xs-12">
			<h2 class="blue"><span class="glyphicon glyphicon-search"></span> Search Assays <br><small>Narrow down assay results using the form below</small></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">

			<!-- User search -->
			<div class="form-group">
				<label class="control-label">User</label>
				<!-- <input class="form-control" type="text" eui-query="ejs.MultiMatchQuery([dpclassif.next_level + '.project_data_all'] , querystring).type('phrase_prefix')" ng-model="querystring" eui-enabled="querystring" eui-highlight="ejs.Highlight('*').preTags('<span class=\'highlighted\'>').postTags('</span>')"/> -->
				<select class="form-control">
					<option>Select User</option>
				</select>

			</div>
			

		</div>
		<div class="col-xs-4">
			<!-- Date start -->
			<div class="form-group">
				<label class="control-label">Activity Date From</label>
				<input class="form-control datepicker" ng-model="dates.start" ng-change="dateHandler('start')">
				
			</div>


		</div>
		<div class="col-xs-4">
			<!-- Date end -->
			<div class="form-group">
				<label class="control-label">Activity Date To</label>
				<input class="form-control datepicker" ng-model="dates.end" ng-change="dateHandler('end')">
				
			</div>

		</div>
	</div>


	<div class="row" >
		<div class="col-xs-4" eui-index="'cbh_queries'" eui-enabled='true' eui-filter="ejs.TermFilter('level_from', 'l0')">

			<!-- Project search -->
			<div class="form-group">
				<label class="control-label">Projects</label>
				<select multiple class="form-control" ng-options="childItem._source.l0.project_data.Title for childItem in indexVM.results.hits.hits track by childItem._source.l0.resource_uri" ng-model="selections.l0">
				</select>
				<span class="pull-right"><small><a ng-click="clearSelections('l0')">Clear</a></small></span>

			</div>
			
			

		</div>
		<div class="col-xs-4" eui-index="'cbh_queries'" eui-enabled='true' eui-filter="ejs.TermFilter('level_from', 'l1')">
			<!-- Sub Project search -->
			<div class="form-group">
				<span eui-enabled="selections.l0.length > 0" eui-filter="ejs.TermsFilter('l0.resource_uri.raw', selectedUris('l0'))"></span>
				<label class="control-label">Sub Projects</label>
				<select multiple class="form-control" ng-options="childItem._source.l1.project_data.Title for childItem in indexVM.results.hits.hits track by childItem._source.l1.resource_uri" ng-model="selections.l1">
				</select>
				<span class="pull-right"><small><a ng-click="clearSelections('l1')">Clear</a></small></span>
			</div>


		</div>
		<div class="col-xs-4" eui-index="'cbh_queries'" eui-enabled='true' eui-filter="ejs.TermFilter('level_from', 'l2')">
			<!-- Assay search -->
			<div class="form-group">
				<span eui-enabled="selections.l0.length > 0" eui-filter="ejs.TermsFilter('l0.resource_uri.raw', selectedUris('l0'))"></span>
				<span eui-enabled="selections.l1.length > 0" eui-filter="ejs.TermsFilter('l1.resource_uri.raw', selectedUris('l1'))"></span>

				<label class="control-label">Assays</label>
				<select multiple class="form-control" ng-options="childItem._source.l2.project_data.Title for childItem in indexVM.results.hits.hits track by childItem._source.l2.resource_uri" ng-model="selections.l2"></select>
					<span class="pull-right"><small><a ng-click="clearSelections('l2')">Clear</a></small></span>

			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="pull-right">
				<a href="#" class="btn btn-lg btn-danger" role="button" ng-click="resetForm()"><span class="glyphicon glyphicon-remove"></span> Reset</a>
				<a href="#" class="btn btn-lg btn-success" role="button"><span class="glyphicon glyphicon-ok"></span> Run Search</a>
			</div>
		</div>
	</div>


	<hr>
	<!-- Result section -->
	<div class="row">
		
		<div class="col-xs-12">
			<h2 class="subheading">Results</h2>
			<!-- Just showing Activities for now -->
			<!-- Results table here - filters eventually in table header? -->
			<div eui-index="'cbh_queries'" eui-enabled="true" eui-filter="ejs.TermFilter('level_from', 'l3')" >
				<span eui-enabled="selections.l0.length > 0" eui-filter="ejs.TermsFilter('l0.resource_uri.raw', selectedUris('l0'))"></span>
				<span eui-enabled="selections.l1.length > 0" eui-filter="ejs.TermsFilter('l1.resource_uri.raw', selectedUris('l1'))"></span>
				<span eui-enabled="selections.l2.length > 0" eui-filter="ejs.TermsFilter('l2.resource_uri.raw', selectedUris('l2'))"></span>
				<span eui-enabled="dates.startES != ''" eui-filter="ejs.RangeFilter('l3.created').gte(dates.startES)"></span>
				<span eui-enabled="dates.endES != ''" eui-filter="ejs.RangeFilter('l3.created').lte(dates.endES)"></span>
				<span eui-enabled="cbh.textsearch != ''" eui-query="ejs.MultiMatchQuery(['l0.project_data_all','l1.project_data_all','l2.project_data_all','l3.project_data_all'], cbh.textsearch).type('phrase_prefix')" eui-highlight="ejs.Highlight('*').preTags('<span class=\'highlighted\'>').postTags('</span>')"></span>


			<table class="table table-striped">

                <thead>
                    <tr>
                        <th eui-sort="ejs"><small>
                            Project
                        </small></th>
                        <th><small>
                            Study
                        </small></th>
                        <th><small>
                            Assay
                        </small></th>
                        <th><small>
                            Added
                        </small></th>
                        <th><small>
                            Activity Details
                        </small></th>
                        <th><small>
                            Query Match
                        </small></th>
                        <!-- <th ng-repeat="bottomlevelfield in dpclassif.next_level_cfc.project_data_fields">
                            <small>
                            {{bottomlevelfield.name}}
                        </small>
                        </th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="childItem in indexVM.results.hits.hits" >
                    	<td><a ng-click="showDetailPopup(childItem._source.l0.custom_field_config, childItem._source.l0.project_data)">{{childItem._source.l0.project_data.Title}}</a><br>
                    		<p ng-show="isHighlightPresent(childItem.highlight, 'l0') != ''">
                                hello
                            </p></td>
                    	<td><a ng-click="showDetailPopup(childItem._source.l1.custom_field_config, childItem._source.l1.project_data)">{{childItem._source.l1.project_data.Title}}</a><br>
                    		<p ng-show="isHighlightPresent(childItem.highlight, 'l1') != ''">
                                hello
                            </p></td>
                    	<td><a ng-click="showDetailPopup(childItem._source.l2.custom_field_config, childItem._source.l2.project_data)">{{childItem._source.l2.project_data.Title}}</a><br>
                    		<p ng-show="isHighlightPresent(childItem.highlight, 'l2') != ''">
                                hello
                            </p></td>
                    	<td>{{childItem._source.l3.created | date : 'dd MMM yyyy'}}</td>
                        <td><a ng-click="showDetailPopup(childItem._source.l3.custom_field_config, childItem._source.l3.project_data)">View Activity Details</a><br>
                        	<p ng-show="isHighlightPresent(childItem.highlight, 'l3') != ''">
                               hello
                            </p>
                            {{childItem.highlight}}</td>

                        
                    </tr>
                    <tr ng-if="indexVM.results.hits.hits.length == 0" class="text-center"><td colspan="{{(1+ dpclassif.next_level_cfc.project_data_fields.length)}}" class="text-center">No results</td></tr>
                        
                </tbody>
                

            </table>
            <div class="text-center">
                            

                            <ul class="pager">

                                <li>{{indexVM.results.hits.hits.length}} results </li>
                                <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=1">First</a></li>
                                <li ng-class="{disabled:indexVM.page <= 1}"><a href="" ng-click="indexVM.page=indexVM.page - 1">Previous</a></li>
                                <li>{{indexVM.page}} of {{indexVM.pageCount}}</li>
                                <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.page + 1">Next</a></li>
                                <li ng-class="{disabled:indexVM.pageCount <= indexVM.page}"><a href="" ng-click="indexVM.page=indexVM.pageCount">Last</a></li>
                                <li>
                                    <select ng-model="indexVM.pageSize">
                                        <option ng-repeat="item in [5, 10, 20]">{{item}}</option>
                                    </select>
                                    per page
                                </li>
                            </ul>
                        </div>

            </div>

		</div>

	</div>




</div>


<script type="text/javascript">
	$('.datepicker').pickadate({
  // Escape any “rule” characters with an exclamation mark (!).
  format: 'dd mmm, yyyy',
  formatSubmit: 'yyyy-MM-dd',
});
</script>