<div class="row mt">
	<div class="col-xs-12">
		<a ui-sref="cbh.users" role="button" class="btn btn-primary pull-right">Back to User List</a>
		<h2 class="blue"> <span class="glyphicon glyphicon-user "></span> {{userFromList.first_name}} {{userFromList.last_name}}<br>
			<small>Member since {{ userFromList.date_joined | date }}</small> <small ng-if="userFromList.is_superuser"><span class="glyphicon glyphicon-star"></span> Admin User</small></h2>
	</div>
</div>
<div class="row">
	<h2 class="subheading">Batch Uploads</h2>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-3" ng-repeat="batch in batchesForUser">
		<div class="well projectbox">
			<!-- <p class="nexa"><strong><a ui-sref="cbh.search({multiple_batch_id:batch.id})"><span class="glyphicon glyphicon-time"></span> {{ batch.created | date }}</strong></a><br/> -->
			<p class="nexa"><strong><a href="/#/search?multiple_batch_id={{batch.id}}"><span class="glyphicon glyphicon-time"></span> {{ batch.created | date }}</strong></a><br/>
				<em>{{batch.project.name}}</em><br>
				<!-- <em>{{ batch.uploaded_data.length }}</em> -->
				<!-- <span class="glyphicon glyphicon-check"></span> <small>Member Since: {{ user.date_joined | date }}</small> -->
				<!-- <a ui-sref="cbh.projects.project.demo.intro({projectKey: project.project_key})" role="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add Compounds</a> -->
			</p>
		</div>

	</div>
	<div ng-hide="batchesForUser.length" class="text-center"><p class="nexa">{{userFromList.first_name}} has not uploaded any compounds</p></div>

</div>
