<div class="row mt">
	<div class="col-xs-12">
		<h2 class="blue nexa"><span class="glyphicon glyphicon-user"></span> ChemReg Users <br><small>Click a user name to see the user activity in more detail</small> </h2>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-sm-3" ng-repeat="user in users">
		<div class="well projectbox">
			<p class="nexa"><strong><a ui-sref="cbh.user({username: user.username})"><span ng-if="user.first_name">{{ user.first_name }} {{ user.last_name }}</span>
			<span ng-if="!user.first_name">{{ user.username }}</span>
			</a></strong><br/>
				<span class="glyphicon glyphicon-time"></span> <small>Last login: {{ user.last_login | date }}</small><br/>
				<span class="glyphicon glyphicon-check"></span> <small>Member Since: {{ user.date_joined | date }}</small>
			
			</p>
		</div>

	</div>
	
</div>