<div class="container" >


	<div class="row mt">
		<div class="col-xs-12">
			<h2 class="blue"><span class="glyphicon glyphicon-plus-sign"></span> View Studies</h2>
		</div>
	</div>
<div ng-repeat="(levelindex, level) in levels = ['l0', 'l1', 'l2', 'l3' ]" >

<div class="row"  >
		<div  ng-repeat="form in assayctrl.proj.enabled_forms">
			<div  class="row" ng-if="form.id == viewctrl.dc">
				<div class="col-xs-12" style="border: 1px solid #444; padding:10px; border-radius:5px; margin-bottom:20px;"  eui-index="'cbh_queries'" 
				eui-filter="ejs.BoolFilter().must(ejs.TermFilter('data_form_config.raw' , form.resource_uri)).must(ejs.TermFilter('level_from', level))" eui-enabled="true"
						<!-- show only the first item as all l0 should be the same-->
						<div>
							<small>{{form[level].data_type.name}}</small>
							<br>
							<strong class="nexa">{{form[level].name}}</strong>
						</div>
					<div class="table-responsive">
					  <table class="table">
					  	<thead>
					     	<tr>
					     		<th>
					     			Actions
					     		</th>
					     		<th ng-repeat="field in form[level].project_data_fields">
					     			{{field.name}}
					     		</th>
					     	</tr>
					 	</thead>
					 	<tbody>
					     	<tr ng-repeat="hit in indexVM.results.hits.hits">
					     		<td style="min-width:100px; max-width:200px;">
					     			  <div class="btn-group" dropdown >
									      <button id="single-button" type="button" class="btn btn-default" dropdown-toggle >
									        <span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-pencil"></span><span class="caret"></span>
									      </button>
									      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
									     
									        <li ng-if="levelindex < 3" role="menuitem"><a href="#" ui-sref="cbh.projects.project.assay.add_data({'dc': hit._source.id, 'projectKey': projectKey, 'lev': levels[levelindex+1], 'data_form_id' : viewctrl.dc })">Add {{ assayctrl.proj.enabled_forms[$parent.$index ][levels[levelindex+1]].data_type.name }}<br> to this {{ form[level].data_type.name }}</a></li>									        
									      </ul>
									    </div>
					     			
					     		</td>
					     		<td ng-repeat="field in form[level].project_data_fields">
					     			{{hit._source[level].project_data[field.name]}}
					     		</td>
					     	</tr>
					 	</tbody>
					   </table>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>



	<div class="row mt">
		<div class="col-xs-12">
			<div class="form-group pull-right">
				<button type='submit' class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New</button>
			</div>
		</div>
	</div>


	
</div>
<!-- ejs.FilterAggregation(bucket.key).filter(ejs.TermFilter('data_form_config.id' , bucket.key)) -->