<div class="container" >

	<div class="row">
		<div class="col-xs-12">
			<a ui-sref="cbh.projects.project.assay.data_overview({projectKey : projectKey})">
	        	<h2 class="nexa blue"><small><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Back to project overview</small></h2>
	        </a>
	    </div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2 class="blue"><span class="glyphicon glyphicon-list"></span> View Studies<br><a ui-sref="cbh.projects.list">
        </a></h2>
		</div>
	</div>
<div ng-repeat="level in ['l0', 'l1', 'l2', 'l3' ]" >

<div class="row"  >
		<div  ng-repeat="form in assayctrl.projectData.objects[2].enabled_forms">
			<div  class="row" ng-if="form.id == viewctrl.dc">
				<div class="col-xs-12" style="border: 1px solid #444; padding:10px; border-radius:5px; margin-bottom:20px;"  eui-index="'cbh_queries'" 
				eui-filter="ejs.BoolFilter().must(ejs.TermFilter('data_form_config.raw' , form.resource_uri)).must(ejs.TermFilter('level_from', level))" eui-enabled="true"
						<!-- show only the first item as all l0 should be the same-->
						<div>
							<small>{{form[level].data_type.name}}</small>
							<br>
							<strong class="nexa">{{form[level].name}}</strong>
						</div>
					<div class="table-responsive">
					  <table class="table">
					  	<thead>
					     	<tr>
					     		<th ng-repeat="field in form[level].project_data_fields">
					     			{{field.name}}
					     		</th>
					     	</tr>
					 	</thead>
					 	<tbody>
					     	<tr ng-repeat="hit in indexVM.results.hits.hits">
					     		<td ng-repeat="field in form[level].project_data_fields">
					     			{{hit._source[level].project_data[field.name]}}
					     		</td>
					     	</tr>
					 	</tbody>
					   </table>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>



	<div class="row mt">
		<div class="col-xs-12">
			<div class="form-group pull-right">
				<button type='submit' class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New</button>
			</div>
		</div>
	</div>


	
</div>
<!-- ejs.FilterAggregation(bucket.key).filter(ejs.TermFilter('data_form_config.id' , bucket.key)) -->