<div class="container">
	<div class="row mt">
		<div class="col-xs-12">
			<div class="form-group pull-right">
				<button type='submit' class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New</button>
			</div>
			<h2 class="blue"><span class="glyphicon glyphicon-plus-sign"></span> View Studies</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 bg-info" ng-repeat="dp in display_data" ng-if="dp.id != 1" style="border: 1px solid #444; padding:10px; border-radius:5px; margin-bottom:20px;">
			<!-- <div class="form-group" sf-schema="::edit_schema" sf-form="::edit_form" sf-model="test_model.project_data"></div> -->
			<div class="row">
				<div class="col-xs-3" ng-if="dp.id != 1 && dp.l1"><div><strong class="nexa">Study</strong><br>{{dp.l1.created | date}}</div></div>
				<div class="col-xs-3" ng-if="dp.id != 1 && dp.l2"><div><strong class="nexa">Assay</strong><br>{{dp.l2.created | date}}</div></div>
				<div class="col-xs-3" ng-if="dp.id != 1 && dp.l3"><div><strong class="nexa">Datapoint</strong><br>{{dp.l3.created | date}}</div></div>
				<div class="col-xs-3" ng-if="dp.id != 1 && dp.l4"><div>{{dp.l4.created | date}}</div></div>
			</div>
		</div>
	</div>
	<div class="row mt">
		<div class="col-xs-12">
			<div class="form-group pull-right">
				<button type='submit' class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New</button>
			</div>
		</div>
	</div>


	
</div>
